:root {
  --color-bg-body: #fefefe;
  --color-text-light: #E1E7DC;
  --color-body-text-dark: #4C4C4C;
  --color-link-text: #37ABB8;
  --color-impact-dark: rgb(67, 108, 165);
  /* hex #143D66 */
  --color-impact-dim: rgba(59, 126, 194, 0.8);
  /* hex #287acc */
  --color-impact: rgba(40, 122, 204, 1);
  /* hex #287acc */
  --color-green-dark: rgba(70, 76, 53, 1);
  --color-green-soft: rgba(130, 145, 95, 1);
  /* hex #708C54 */
  --color-green-olive: rgba(87, 94, 51, 1);
  /* hex #575E33 */
  --disp-sans: 'Josefin Sans', sans-serif;
  --disp-serif: 'Josefin Slab', sans-serif;
  --para-type: 'Josefin Slab', serif;
  --cassannet-reg: 'Cassannet Regular', 'Josefin Sans', 'Trirong', 'Lato', sans-serif;
  --cassannet-outline: 'Cassannet Outline', 'Josefin Slab', 'Trirong', serif;
}

@mixin size ($width, $height) {
  width: $width;
  height: $height;
}

@mixin flex($dir:null, $jc:null, $al:null, $ac:null, $as:null, $wrap:null, $grow:null, $shr:null)
{
  display: flex;
  flex-direction: $dir;
  justify-content: $jc;
  align-items: $al;
  align-content: $ac;
  align-self: $as;
  flex-wrap: $wrap;
  flex-grow: $grow;
  flex-shrink: $shr;
}

@mixin link {
  color: var(--color-green-soft);
  transition: ease-in .2s;
  
  &:hover {
    color: var(--color-bg-body);
    transition: linear .2s;
  }

  &::after {
    background: var(--color-impact);
    content: '';
    display: inherit;
    height: 1px;
    width: 0;
    transition: width ease-out .2s;
  }

  &:hover::after {
    transition: width ease-out .2s;
    width: 100%;
  }
}