@mixin size ($width, $height) {
  width: $width;
  height: $height;
}

@mixin flex($dir:null, $jc:null, $al:null, $ac:null, $wrap:null)
{
  display: flex;
  flex-direction: $dir;
  justify-content: $jc;
  align-items: $al;
  align-content: $ac;
  flex-wrap: $wrap;
}
