@mixin size ($width, $height) {
  width: $width;
  height: $height;
}

@mixin flex($dir:null, $jc:null, $al:null, $ac:null, $as:null, $wrap:null, $grow:null, $shr:null)
{
  display: flex;
  flex-direction: $dir;
  justify-content: $jc;
  align-items: $al;
  align-content: $ac;
  align-self: $as;
  flex-wrap: $wrap;
  flex-grow: $grow;
  flex-shrink: $shr;
}

@mixin link {
  color: var(--soft-green);
  transition: ease-in .2s;
  
  &:hover {
    color: var(--body-bg-text-color);
    transition: linear .2s;
  }

  &::after {
    background: var(--impact-color);
    content: '';
    display: inherit;
    height: 1px;
    width: 0;
    transition: width ease-out .2s;
  }

  &:hover::after {
    transition: width ease-out .2s;
    width: 100%;
  }
}