/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, span, applet, object, iframe, blockquote, pre, abbr, acronym, address, big, cite, code, del, dfn, em, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0; }

ol, ul {
  list-style: none; }

* {
  box-sizing: border-box; }

@font-face {
  font-family: 'cassannet_boldbold';
  src: url("../../typefaces/Cassannet/cassannet_bold-webfont.woff2") format("woff2"), url("../../typefaces/Cassannet/cassannet_bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Cassannet';
  src: url("../../typefaces/Cassannet/cassannet_outline-webfont.woff2") format("woff2"), url("../../typefaces/Cassannet/cassannet_outline-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'cassannet regular';
  src: url("../../typefaces/Cassannet/cassannet-webfont.woff2") format("woff2"), url("../../typefaces/Cassannet/cassannet-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Geomanist';
  src: url(#geomanist_regularregular);
  font-family: 'geomanistregular_italic';
  src: url(#geomanistregular_italic);
  src: url("../../typefaces/Geomanist/geomanist-regular-italic-webfont.svg#geomanistregular_italic") format("svg"); }
@font-face {
  font-family: 'kimberley';
  src: url("../../typefaces/kimberley/kimberley bl.ttf") format("ttf"); }
@font-face {
  font-family: 'Unica One';
  src: url("../../typefaces/unica/UnicaOne-Regular.ttf") format("ttf"); }
@font-face {
  font-family: 'bariolregular_italic';
  src: url("bariol_regular_italic-webfont.eot"); }
/* Webfont: Lato-Black */
@font-face {
  font-family: 'LatoWebBlack';
  src: url("../../typefaces/Lato-Black.eot");
  /* IE9 Compat Modes */
  src: url("../../typefaces/Lato-Black.eot?#iefix") format("embedded-opentype"), url("../../typefaces/Lato-Black.woff2") format("woff2"), url("../../typefaces/Lato-Black.woff") format("woff"), url("../../typefaces/Lato-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
/* Webfont: Lato-BlackItalic */
@font-face {
  font-family: 'LatoWebBlack';
  src: url("../../typefaces/Lato-BlackItalic.eot");
  /* IE9 Compat Modes */
  src: url("../../typefaces/Lato-BlackItalic.eot?#iefix") format("embedded-opentype"), url("../../typefaces/Lato-BlackItalic.woff2") format("woff2"), url("../../typefaces/Lato-BlackItalic.woff") format("woff"), url("../../typefaces/Lato-BlackItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
/* Webfont: Lato-Bold */
@font-face {
  font-family: 'LatoWebBold';
  src: url("../../typefaces/Lato-Bold.eot");
  /* IE9 Compat Modes */
  src: url("../../typefaces/Lato-Bold.eot?#iefix") format("embedded-opentype"), url("../../typefaces/Lato-Bold.woff2") format("woff2"), url("../../typefaces/Lato-Bold.woff") format("woff"), url("../../typefaces/Lato-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
/* Webfont: Lato-BoldItalic */
@font-face {
  font-family: 'LatoWebBold';
  src: url("../../typefaces/Lato-BoldItalic.eot");
  /* IE9 Compat Modes */
  src: url("../../typefaces/Lato-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../../typefaces/Lato-BoldItalic.woff2") format("woff2"), url("../../typefaces/Lato-BoldItalic.woff") format("woff"), url("../../typefaces/Lato-BoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
/* Webfont: Lato-Hairline */
@font-face {
  font-family: 'LatoWebHairline';
  src: url("../../typefaces/Lato-Hairline.eot");
  /* IE9 Compat Modes */
  src: url("../../typefaces/Lato-Hairline.eot?#iefix") format("embedded-opentype"), url("../../typefaces/Lato-Hairline.woff2") format("woff2"), url("../../typefaces/Lato-Hairline.woff") format("woff"), url("../../typefaces/Lato-Hairline.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
/* Webfont: Lato-HairlineItalic */
@font-face {
  font-family: 'LatoWebHairline';
  src: url("../../typefaces/Lato-HairlineItalic.eot");
  /* IE9 Compat Modes */
  src: url("../../typefaces/Lato-HairlineItalic.eot?#iefix") format("embedded-opentype"), url("../../typefaces/Lato-HairlineItalic.woff2") format("woff2"), url("../../typefaces/Lato-HairlineItalic.woff") format("woff"), url("../../typefaces/Lato-HairlineItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
/* Webfont: Lato-Heavy */
@font-face {
  font-family: 'LatoWebHeavy';
  src: url("../../typefaces/Lato-Heavy.eot");
  /* IE9 Compat Modes */
  src: url("../../typefaces/Lato-Heavy.eot?#iefix") format("embedded-opentype"), url("../../typefaces/Lato-Heavy.woff2") format("woff2"), url("../../typefaces/Lato-Heavy.woff") format("woff"), url("../../typefaces/Lato-Heavy.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
/* Webfont: Lato-HeavyItalic */
@font-face {
  font-family: 'LatoWebHeavy';
  src: url("../../typefaces/Lato-HeavyItalic.eot");
  /* IE9 Compat Modes */
  src: url("../../typefaces/Lato-HeavyItalic.eot?#iefix") format("embedded-opentype"), url("../../typefaces/Lato-HeavyItalic.woff2") format("woff2"), url("../../typefaces/Lato-HeavyItalic.woff") format("woff"), url("../../typefaces/Lato-HeavyItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
/* Webfont: Lato-Italic */
@font-face {
  font-family: 'LatoWeb';
  src: url("../../typefaces/Lato-Italic.eot");
  /* IE9 Compat Modes */
  src: url("../../typefaces/Lato-Italic.eot?#iefix") format("embedded-opentype"), url("../../typefaces/Lato-Italic.woff2") format("woff2"), url("../../typefaces/Lato-Italic.woff") format("woff"), url("../../typefaces/Lato-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
/* Webfont: Lato-Light */
@font-face {
  font-family: 'LatoWebLight';
  src: url("../../typefaces/Lato-Light.eot");
  /* IE9 Compat Modes */
  src: url("../../typefaces/Lato-Light.eot?#iefix") format("embedded-opentype"), url("../../typefaces/Lato-Light.woff2") format("woff2"), url("../../typefaces/Lato-Light.woff") format("woff"), url("../../typefaces/Lato-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
/* Webfont: Lato-LightItalic */
@font-face {
  font-family: 'LatoWebLight';
  src: url("../../typefaces/Lato-LightItalic.eot");
  /* IE9 Compat Modes */
  src: url("../../typefaces/Lato-LightItalic.eot?#iefix") format("embedded-opentype"), url("../../typefaces/Lato-LightItalic.woff2") format("woff2"), url("../../typefaces/Lato-LightItalic.woff") format("woff"), url("../../typefaces/Lato-LightItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
/* Webfont: Lato-Medium */
@font-face {
  font-family: 'LatoWebMedium';
  src: url("../../typefaces/Lato-Medium.eot");
  /* IE9 Compat Modes */
  src: url("../../typefaces/Lato-Medium.eot?#iefix") format("embedded-opentype"), url("../../typefaces/Lato-Medium.woff2") format("woff2"), url("../../typefaces/Lato-Medium.woff") format("woff"), url("../../typefaces/Lato-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
/* Webfont: Lato-MediumItalic */
@font-face {
  font-family: 'LatoWebMedium';
  src: url("../../typefaces/Lato-MediumItalic.eot");
  /* IE9 Compat Modes */
  src: url("../../typefaces/Lato-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../../typefaces/Lato-MediumItalic.woff2") format("woff2"), url("../../typefaces/Lato-MediumItalic.woff") format("woff"), url("../../typefaces/Lato-MediumItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
/* Webfont: Lato-Regular */
@font-face {
  font-family: 'LatoWeb';
  src: url("../../typefaces/Lato-Regular.eot");
  /* IE9 Compat Modes */
  src: url("../../typefaces/Lato-Regular.eot?#iefix") format("embedded-opentype"), url("../../typefaces/Lato-Regular.woff2") format("woff2"), url("../../typefaces/Lato-Regular.woff") format("woff"), url("../../typefaces/Lato-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
/* Webfont: Lato-Semibold */
@font-face {
  font-family: 'LatoWebSemibold';
  src: url("../../typefaces/Lato-Semibold.eot");
  /* IE9 Compat Modes */
  src: url("../../typefaces/Lato-Semibold.eot?#iefix") format("embedded-opentype"), url("../../typefaces/Lato-Semibold.woff2") format("woff2"), url("../../typefaces/Lato-Semibold.woff") format("woff"), url("../../typefaces/Lato-Semibold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
/* Webfont: Lato-SemiboldItalic */
@font-face {
  font-family: 'LatoWebSemibold';
  src: url("../../typefaces/Lato-SemiboldItalic.eot");
  /* IE9 Compat Modes */
  src: url("../../typefaces/Lato-SemiboldItalic.eot?#iefix") format("embedded-opentype"), url("../../typefaces/Lato-SemiboldItalic.woff2") format("woff2"), url("../../typefaces/Lato-SemiboldItalic.woff") format("woff"), url("../../typefaces/Lato-SemiboldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
/* Webfont: Lato-Thin */
@font-face {
  font-family: 'LatoWebThin';
  src: url("../../typefaces/Lato-Thin.eot");
  /* IE9 Compat Modes */
  src: url("../../typefaces/Lato-Thin.eot?#iefix") format("embedded-opentype"), url("../../typefaces/Lato-Thin.woff2") format("woff2"), url("../../typefaces/Lato-Thin.woff") format("woff"), url("../../typefaces/Lato-Thin.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
/* Webfont: Lato-ThinItalic */
@font-face {
  font-family: 'LatoWebThin';
  src: url("../../typefaces/Lato-ThinItalic.eot");
  /* IE9 Compat Modes */
  src: url("../../typefaces/Lato-ThinItalic.eot?#iefix") format("embedded-opentype"), url("../../typefaces/Lato-ThinItalic.woff2") format("woff2"), url("../../typefaces/Lato-ThinItalic.woff") format("woff"), url("../../typefaces/Lato-ThinItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizeLegibility; }
* {
  font-size: 12px; }

*, *:before, *:after {
  box-sizing: border-box; }

body {
  margin: 0;
  background-color: black;
  line-height: 1.4;
  /* = 32px */
  /* = 24px */ }
  body h1 {
    font-size: 2em; }
  body h2 {
    font-size: 1.5em; }
  body aside {
    font-size: 0.75em; }
  body p {
    color: white;
    font-weight: 200;
    z-index: 777; }
  body .boldy {
    letter-spacing: 5px;
    font-size: 2.75em;
    font-family: 'cassannet_boldbold'; }

/* Reset
----------------------------------------------------- */
header, footer, nav, article, hgroup, figure {
  display: flex; }

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  overflow: auto;
  overflow-x: hidden;
  /* Layout
  -------------------------------------------------------------- */ }
  body small, body del {
    color: #4d4d4d; }
  body h1 {
    font-size: 1.3em;
    font-weight: 500; }
  @media (min-width: 500px) {
    body h1 {
      font-size: 1.1em; } }
  body h2 {
    color: blanchedalmond;
    margin-bottom: .25em;
    font-size: 2.5em;
    line-height: 1.25em; }
  @media (min-width: 470px) {
    body h2 {
      font-size: 3em; } }
  @media (min-width: 750px) {
    body h2 {
      font-size: 4em; } }
  @media (min-width: 1300px) {
    body h2 {
      font-size: 5em;
      margin-top: 1em; } }
  @media (min-width: 1550px) {
    body h2 {
      font-size: 6em;
      margin-top: 1.5em; } }
  body h3 {
    color: blanchedalmond;
    font-size: 1.5em;
    line-height: 2em;
    margin-bottom: .25em; }
    @media (min-width: 750px) {
      body h3 {
        font-size: 2.5em; } }
  body h6 {
    color: white;
    font-size: 1.25em;
    font-weight: 500;
    margin-bottom: -.75em; }
  body p {
    font-size: 1.4em;
    line-height: 1.4em; }
  body br {
    padding-bottom: 10em; }
  body .home {
    display: flex;
    flex-direction: column;
    /* BELOW is site's bg texture  */ }
    body .home:after {
      content: "";
      background: #090B00 url("../../img/blotty.png") center;
      width: 100%;
      height: 100%;
      opacity: 0.6;
      position: fixed;
      top: 0;
      z-index: -3; }
    body .home #border {
      display: flex;
      flex-direction: column;
      border: 1px solid #ECECE6;
      height: 100vh;
      margin: 20px; }
      body .home #border .site-header {
        display: flex;
        padding: 1.5em 0 1em 0; }
        body .home #border .site-header h1 {
          color: ECECE6;
          display: inline-block; }
        @media (min-width: 500px) {
          body .home #border .site-header {
            padding-top: 2em; } }
        body .home #border .site-header nav {
          display: flex;
          justify-content: space-between;
          width: 100vw;
          height: auto;
          margin: 0 3em; }
          body .home #border .site-header nav .nav-logo {
            display: flex;
            align-items: flex-start; }
            body .home #border .site-header nav .nav-logo object {
              width: 25em;
              height: auto; }
        body .home #border .site-header .links {
          display: flex;
          align-items: flex-start; }
          body .home #border .site-header .links a {
            color: #ECECE6;
            font-size: 1.4em;
            font-weight: 200;
            margin: 0 2em;
            text-decoration: none; }
            body .home #border .site-header .links a:hover {
              color: #007e00;
              transition-timing-function: ease-in-out;
              transition-duration: 400ms; }
      body .home #border #work {
        display: flex;
        flex-direction: column;
        align-items: center; }
        body .home #border #work .work-container {
          display: flex;
          width: 100%;
          padding: 20% 5%; }
          body .home #border #work .work-container h3 {
            text-align: center; }
          body .home #border #work .work-container .patchwork {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            margin: 1em auto; }
            body .home #border #work .work-container .patchwork .group {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: center;
              padding: 1em; }
              body .home #border #work .work-container .patchwork .group .project {
                display: flex;
                flex-direction: column;
                width: auto;
                height: 40%;
                position: relative; }
                body .home #border #work .work-container .patchwork .group .project img {
                  max-width: 25vw;
                  object-fit: scale-down; }
                body .home #border #work .work-container .patchwork .group .project .overlay {
                  display: flex;
                  flex-direction: column;
                  position: absolute;
                  border-top: 1px solid white;
                  top: 10%;
                  height: 80%;
                  width: 80%;
                  left: 10%;
                  border-bottom: 1px solid white;
                  text-align: center;
                  opacity: 0;
                  -webkit-transition: opacity .25s ease; }
                  body .home #border #work .work-container .patchwork .group .project .overlay #plus {
                    margin: 0 auto; }
                    body .home #border #work .work-container .patchwork .group .project .overlay #plus h2, body .home #border #work .work-container .patchwork .group .project .overlay #plus h3, body .home #border #work .work-container .patchwork .group .project .overlay #plus h4 {
                      color: white;
                      font-family: cassannet;
                      font-weight: 100;
                      line-height: 0;
                      top: -30%; }
                    body .home #border #work .work-container .patchwork .group .project .overlay #plus a {
                      color: #007e00;
                      margin: 0 auto; }
                body .home #border #work .work-container .patchwork .group .project:hover img {
                  filter: brightness(0.1);
                  -webkit-filter: brightness(0.1); }
                body .home #border #work .work-container .patchwork .group .project:hover .overlay {
                  background: transparent;
                  opacity: 1; }
            body .home #border #work .work-container .patchwork .group-2 {
              display: flex;
              flex-direction: column;
              width: 100%;
              padding-right: 1em; }
              body .home #border #work .work-container .patchwork .group-2 .project-1 {
                display: flex;
                flex-direction: column;
                width: 100%;
                height: auto;
                position: relative; }
                body .home #border #work .work-container .patchwork .group-2 .project-1 img {
                  max-height: 400px;
                  width: 100%;
                  object-fit: scale-down; }
    body .home #about-container {
      display: flex;
      flex-direction: column;
      border: 1px solid green;
      margin: 0 20px;
      padding: 3em 5em 24em; }
      body .home #about-container p {
        color: blanchedalmond; }
      body .home #about-container .first {
        display: flex;
        flex-direction: column; }
        body .home #about-container .first .construction {
          display: flex;
          z-index: -1; }
          body .home #about-container .first .construction .name {
            display: flex;
            flex-direction: column;
            margin-top: 3em; }
            body .home #about-container .first .construction .name h2 {
              color: blanchedalmond;
              font-size: 4em;
              font-weight: 200;
              margin-bottom: 1em;
              width: 100%; }
            body .home #about-container .first .construction .name h4 {
              color: #FF5D00;
              font-size: 3em;
              line-height: 1em;
              margin-bottom: 1em;
              padding-left: 2em;
              text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
              width: 80%; }
        body .home #about-container .first .story {
          display: flex;
          word-spacing: 1px; }
      body .home #about-container .second {
        display: flex;
        word-spacing: 1px;
        width: 55%; }
        body .home #about-container .second a {
          color: #3A7CA5;
          font-size: inherit;
          font-weight: 200; }
          body .home #about-container .second a:hover {
            border-radius: 1px;
            background-color: rgba(91, 146, 121, 0.2);
            transition: all 0.1s ease-in-out; }
      body .home #about-container .section-links {
        display: flex;
        flex-direction: column;
        margin: 2em 0;
        padding: 0 30px; }
        body .home #about-container .section-links a {
          color: #3A7CA5;
          font-size: 1.4em;
          font-weight: 200;
          display: table; }
          body .home #about-container .section-links a:hover {
            border-radius: 1px;
            background-color: rgba(91, 146, 121, 0.2);
            color: #3A7CA5;
            transition: all 0.3s ease-in-out; }
    body .home footer {
      display: flex;
      justify-content: center; }
      body .home footer .site-footer {
        display: flex;
        justify-content: center;
        color: grey;
        margin: 0 auto; }
        body .home footer .site-footer p {
          font-size: 1em; }
          body .home footer .site-footer p a {
            color: #0072BB; }

/*# sourceMappingURL=case.css.map */
