/*
	0. Typography
	1. CSS Reset & Clearfix	
	2. Document Setup
	3. Page Layout
*/
/* ------------------------------------------- */
/*	0. Typography */
/* ------------------------------------------- */
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:100,100i,200,200i,300,300i,400,400i|Josefin+Slab:200,200i,300,300i,400,400i|Lato:200,200i,300,300i,400,400i|Source+Sans+Pro:200,200i,300,300i,400,400i|Trirong:200,200i,300,300i,400,400i|Unica+One");
@font-face {
  font-family: 'Cassannet Regular';
  src: url("../typefaces/Cassannet/Cassannet-Regular.woff2") format("woff2"), url("../typefaces/Cassannet/Cassannet-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Cassannet Bold';
  src: url("../typefaces/Cassannet/Cassannet-Bold.woff2") format("woff2"), url("../typefaces/Cassannet/Cassannet-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Cassannet Outline';
  src: url("../typefaces/Cassannet/CassannetOutline-Regular.woff2"), format("woff2") url("../typefaces/Cassannet/CassannetOutline-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Knile';
  src: url("typefaces/Knile/knile-regular-webfont.woff") format("woff"); }
:root {
  --color-bg-body: #fefefe;
  --color-text-light: #E1E7DC;
  --color-body-text-dark: #4C4C4C;
  --color-link-text: #37ABB8;
  --color-impact-dark: #436ca5;
  /* hex #143D66 */
  --color-impact-dim: rgba(59, 126, 194, 0.8);
  /* hex #287acc */
  --color-impact: #287acc;
  /* hex #287acc */
  --color-green-dark: #464c35;
  --color-green-soft: #82915f;
  /* hex #708C54 */
  --color-green-olive: #575e33;
  /* hex #575E33 */
  --disp-sans: 'Josefin Sans', sans-serif;
  --disp-serif: 'Josefin Slab', sans-serif;
  --para-type: 'Josefin Slab', serif;
  --cassannet-reg: 'Cassannet Regular', 'Josefin Sans', 'Trirong', 'Lato', sans-serif;
  --cassannet-outline: 'Cassannet Outline', 'Josefin Slab', 'Trirong', serif; }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, applet, object, iframe, blockquote, pre, abbr, acronym, address, big, cite, code, del, dfn, em, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0; }

ol, ul {
  list-style: none; }

* {
  box-sizing: border-box; }

/* ------------------------------------------- */
/*	1. CSS Reset
/* ------------------------------------------- */
/* ------------------------------------------- */
/*	2. Document setup
/* ------------------------------------------- */
* {
  box-sizing: border-box; }

body {
  color: var(--color-body-text-dark);
  background: var(--color-bg-body);
  font-size: 16px;
  position: absolute;
  overflow-x: hidden;
  /* ------------------------------------------- */
  	/*	3. Page Layout
  /* ------------------------------------------- */ }
  @media (min-width: 64em) {
    body {
      font-size: 1.2em;
      line-height: 1.8; } }
  @media (min-width: 85.375em) {
    body {
      font-size: 1.3em; } }
  @media (min-width: 120em) {
    body {
      font-size: 1.4em; } }
  @media (min-width: 160em) {
    body {
      font-size: 1.6em; } }
  body h1 {
    font-family: var(--disp-sans);
    font-weight: 400;
    line-height: 5rem; }
  body h3 {
    font-family: var(--disp-sans), sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem; }
  body h4 {
    font-family: var(--disp-sans), sans-serif;
    font-size: 2rem;
    font-weight: 400;
    line-height: 4rem; }
  body p {
    font-family: var(--disp-sans);
    font-weight: 300;
    line-height: 1.5rem; }
  body a {
    cursor: pointer;
    color: var(--color-body-text-dark);
    text-decoration: none; }
  body main {
    display: grid;
    grid-template-rows: repeat(auto-fill, minmax(5vh, 1fr));
    margin: 0 auto; }
    body main #intro {
      display: flex;
      grid-row: 2;
      flex-direction: column;
      margin: 0 auto;
      max-width: 88vw; }
      body main #intro h1 {
        font-size: 2.8rem;
        line-height: 4rem; }
        body main #intro h1 a {
          color: var(--color-impact-dark); }
        body main #intro h1 #dot {
          color: var(--color-bg-body);
          line-height: 0.2em;
          display: flex; }
        body main #intro h1 .period {
          display: inline; }
      body main #intro .chevron {
        margin: 0rem auto 5vw; }
        body main #intro .chevron img {
          height: 3rem; }
      body main #intro .hop {
        animation: bounce 3s infinite;
        animation-delay: 2s;
        animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94); }
@keyframes bounce {
  0%,
				15%,
				40%,
				100% {
    transform: translateY(0); }
  6% {
    transform: translateY(2rem); }
  25% {
    transform: translateY(3.5rem); } }
    body main #work {
      display: grid;
      grid-row: 4;
      grid-gap: 6rem;
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
      margin: 8rem auto 0;
      max-width: 88vw; }
      body main #work .tile .project {
        display: flex;
        flex-direction: column;
        justify-content: flex-start; }
        body main #work .tile .project .card {
          border-radius: 4px;
          margin-bottom: 1rem;
          opacity: 1;
          transition: all ease-out .3s;
          width: 100%; }
        body main #work .tile .project .svg-title {
          background-repeat: no-repeat;
          height: 3rem;
          max-width: 96%;
          transition: .25s; }
        body main #work .tile .project .beer {
          background-image: url("../../img/regular_beerocracy.svg"); }
        body main #work .tile .project .seagle {
          background-image: url("../../img/regular_seagle.svg"); }
        body main #work .tile .project .ironvice {
          background-image: url("../../img/regular_ironvice.svg"); }
        body main #work .tile .project .pylon {
          background-image: url("../../img/regular_pylon.svg"); }
        body main #work .tile .project .axure {
          background-image: url("../../img/regular_axure.svg"); }
        body main #work .tile .project .desc {
          margin-top: 0; }
      body main #work .tile .link {
        color: var(--color-impact-dim);
        display: inline-block;
        font-family: var(--disp-sans);
        transition: ease-in .2s;
        line-height: 1rem; }
        body main #work .tile .link:hover {
          color: var(--color-impact);
          transition: linear .2s; }
        body main #work .tile .link::after {
          background: var(--color-impact);
          content: '';
          display: block;
          height: 1.5px;
          width: 0;
          transition: width ease-out .2s; }
        body main #work .tile .link:hover::after {
          transition: width ease-out .2s;
          width: 100%; }
      body main #work .modal-overlay {
        justify-content: center;
        background: rgba(0, 0, 0, 0.8);
        height: 100vh;
        left: 0;
        display: flex;
        position: fixed;
        top: 0;
        transition: opacity .2s;
        width: 100vw;
        z-index: -1; }
        body main #work .modal-overlay h3 {
          color: var(--color-impact-dark);
          line-height: 0em;
          writing-mode: vertical-rl;
          display: table-caption;
          transform: rotate(180deg);
          position: fixed;
          top: 10vh;
          left: 10vw;
          display: none; }
        body main #work .modal-overlay .bxslider {
          position: relative;
          width: 80vw;
          height: 88vh;
          background: #fff;
          overflow-y: auto;
          align-self: center;
          border-radius: 4px;
          display: flex;
          flex-direction: column;
          align-items: center; }
          body main #work .modal-overlay .bxslider picture {
            padding: 4vw;
            background-repeat: no-repeat; }
          body main #work .modal-overlay .bxslider hr {
            border: 1px solid var(--color-text-light);
            width: 72vw;
            margin: 0 auto; }
          body main #work .modal-overlay .bxslider .btn-close {
            background: none;
            cursor: pointer;
            font-family: var(--disp-sans);
            font-size: 5em;
            position: fixed;
            right: 10vw;
            top: 5vh;
            z-index: 2; }
            body main #work .modal-overlay .bxslider .btn-close:hover {
              color: #df0029; }
            body main #work .modal-overlay .bxslider .btn-close:focus {
              outline: 1px dotted;
              border-radius: 50%; }
      body main #work .modal-overlay[aria-hidden="true"] {
        opacity: 0;
        visibility: hidden; }
      body main #work .modal-overlay[aria-hidden="false"] {
        opacity: 1;
        visibility: visible;
        z-index: 2; }
    body main #info {
      background-color: #222;
      grid-row: 5;
      margin-top: 10vw;
      width: 100vw; }
      body main #info .info-container {
        align-items: center;
        display: flex;
        flex-direction: column-reverse;
        grid-row: 5;
        padding: 2rem 1rem; }
        body main #info .info-container a,
        body main #info .info-container h1,
        body main #info .info-container h2,
        body main #info .info-container h3,
        body main #info .info-container h4,
        body main #info .info-container p {
          color: var(--color-text-light); }
        body main #info .info-container .contact_info {
          align-items: center;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          margin: 1rem 0; }
          body main #info .info-container .contact_info .self {
            background-image: url("https://lh3.googleusercontent.com/4yMhhFN7LW8V4cKWcZI78Rt50rk7RyMeUl4sFP6Sucux_nt2M9lJM0v703_2jadKbDUBeTbLaow1rZQcXupWEOm8oVoKVVkhhSb7NGX0lZxUZuglOt1rtRYVceHE6xJNWx7zIwvPQWmgBqAbtdP8Kx5VUy93nfO8Se7kP3fmcgh4p36fP65QlEHQ9jhbd9ldhYSpCU6f6TxrXp_l1HiK4-AgGODGvXoK3b6GyYKhhganvKMXo8ah76JTCnfw-dWNbGkbI4lEtD0psTHxrY2hjwBFOn6BCKjf6cS0zX_89u2QvGXuRLLaggy6yNLy66xiQsPx1xJsqwvMfu3Su8Cz0pwVk_lhYXlUpbua9krDdfTfMaB7oIyadz88VtzCCob_Kl0XOLlsdGMPl2cKES6tRoaAwl0Ec3o21PI3n38yuamRPgZAt1Y-JpTFTxUb36KqCP0N02Of9W8cU4WuwE44ScpnEEsJc8llPuxgWFLeBw8YXAmfVVV4ZnT4ZGpbRN_WPhgaftQ-kHNY8yBCImutFjqIsUp-yTbD4O-hOxDGJRffdnSqnN_d7MNJ7lC2BAucEKq2Wq-bJKq_4yR5gD-y3kY-sg0RbTC1QYIzVMvA4Xuu6GONzmqsEuvi8Q=w811-h691-no");
            background-size: cover;
            border-radius: 5px;
            height: 225px;
            width: 300px;
            display: none; }
          body main #info .info-container .contact_info .access {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: -1rem; }
            body main #info .info-container .contact_info .access .personal {
              color: var(--color-green-soft);
              transition: ease-in .2s;
              font-family: var(--disp-sans);
              font-size: 1.1rem;
              font-weight: 300;
              margin: 1rem 0 2rem; }
              body main #info .info-container .contact_info .access .personal:hover {
                color: var(--color-impact-dark);
                transition: linear .2s; }
              body main #info .info-container .contact_info .access .personal::after {
                background: var(--color-impact);
                content: '';
                display: inherit;
                height: 1px;
                width: 0;
                transition: width ease-out .2s; }
              body main #info .info-container .contact_info .access .personal:hover::after {
                transition: width ease-out .2s;
                width: 100%; }
              body main #info .info-container .contact_info .access .personal:first-of-type {
                margin-bottom: 1rem; }
          body main #info .info-container .contact_info .icon-row {
            display: flex;
            justify-content: space-between;
            margin-top: 1rem;
            width: 86vw; }
            body main #info .info-container .contact_info .icon-row .medium {
              background: no-repeat url(../../img/Monogram.svg); }
            body main #info .info-container .contact_info .icon-row .twitter {
              background: no-repeat url(../../img/Twitter_Logo_Blue.svg); }
            body main #info .info-container .contact_info .icon-row .github {
              background: no-repeat url(../../img/Github_Logo_White.svg); }
            body main #info .info-container .contact_info .icon-row .linkedin {
              background: no-repeat url(../../img/Linkedin_Logo_Blue.svg); }
            body main #info .info-container .contact_info .icon-row .logo {
              background-size: cover;
              width: 3rem;
              height: 3rem; }
              body main #info .info-container .contact_info .icon-row .logo:hover {
                background-color: rgba(130, 173, 95, 0.1);
                transition: cubic-bezier(0.785, 0.135, 0.15, 0.86); }
        body main #info .info-container .statement {
          display: flex;
          flex-direction: column;
          margin: 1rem 0; }
          body main #info .info-container .statement h3 {
            font-family: var(--disp-sans);
            font-weight: 300;
            line-height: 1em;
            margin: 0;
            text-align: center; }
          body main #info .info-container .statement p {
            font-family: var(--disp-sans);
            font-size: 1.1rem;
            font-weight: 300;
            margin: 1rem 0; }
          body main #info .info-container .statement .product {
            color: var(--color-green-soft);
            transition: ease-in .2s;
            border-bottom: 1px solid var(--color-impact-dark); }
            body main #info .info-container .statement .product:hover {
              color: var(--color-impact-dark);
              transition: linear .2s; }
            body main #info .info-container .statement .product::after {
              background: var(--color-impact);
              content: '';
              display: inherit;
              height: 1px;
              width: 0;
              transition: width ease-out .2s; }
            body main #info .info-container .statement .product:hover::after {
              transition: width ease-out .2s;
              width: 100%; }
    body main footer {
      align-items: center;
      display: flex;
      flex-direction: column;
      grid-row: 6; }
      body main footer a {
        color: var(--color-impact-dark);
        font-family: var(--disp-sans), sans-serif;
        font-weight: 300;
        margin: 0.5rem; }
        body main footer a:hover {
          color: var(--color-impact); }
  @media screen and (min-width: 650px) {
    body main #intro {
      max-width: 84vw;
      grid-row: 2; }
      body main #intro h1 {
        font-size: 4rem;
        line-height: 5rem;
        padding: 3rem 0 3rem 1rem; }
        body main #intro h1 .period img {
          background-size: .2rem; }
        body main #intro h1 #dot {
          display: none; }
      body main #intro .chevron {
        margin: 10vw auto; }
        body main #intro .chevron img {
          height: 5rem; }
    body main #work {
      grid-gap: 6rem;
      max-width: 84vw;
      margin-bottom: 6rem; }
      body main #work .tile .project .card {
        border-radius: 5px;
        opacity: .9;
        transition: all ease-out .3s; }
      body main #work .tile .project:hover .card {
        box-shadow: 0 0.3rem 1.5rem 0rem var(--color-green-dark);
        opacity: 1;
        transform: translateY(-0.3rem);
        transition: opacity linear .2s box-shadow ease-in-out .2s; }
      body main #work .tile .project:hover .svg-title {
        transition: all ease-out .15s; }
      body main #work .tile .project:hover .beer {
        background-image: url("../../img/outline_beerocracy.svg"); }
      body main #work .tile .project:hover .seagle {
        background-image: url("../../img/outline_seagle.svg"); }
      body main #work .tile .project:hover .ironvice {
        background-image: url("../../img/outline_ironvice.svg"); }
      body main #work .tile .project:hover .pylon {
        background-image: url("../../img/outline_pylon.svg"); }
      body main #work .tile .project:hover .axure {
        background-image: url("../../img/outline_axure.svg"); }
    body main #info {
      margin: 0 auto;
      width: 100vw; }
      body main #info .info-container {
        align-items: flex-start;
        display: grid;
        grid-template-columns: 2fr 3fr;
        grid-gap: 6rem;
        margin: 0 auto;
        width: 84vw; }
        body main #info .info-container .contact_info .self {
          display: flex;
          width: 100%; }
        body main #info .info-container .contact_info .access {
          flex-flow: row wrap;
          justify-content: space-between;
          margin: 2rem auto;
          width: 100%; }
          body main #info .info-container .contact_info .access .personal:first-of-type {
            margin: 0 2rem 1rem 0; }
        body main #info .info-container .contact_info .icon-row {
          width: 100%; }
        body main #info .info-container .statement .sketch:hover {
          border-bottom: 1px solid #fcc530;
          color: #fcc530; }
        body main #info .info-container .statement .nightly:hover {
          border-bottom: 1px solid #AE44F6;
          color: #AE44F6; }
        body main #info .info-container .statement p:last-of-type {
          margin-bottom: 2rem; }
    body main footer a {
      margin: 1rem; } }
  @media (min-width: 300px) and (max-width: 370px) {
    body main #intro h1 {
      font-size: 2.8rem;
      line-height: 3.5rem; } }
  @media screen and (min-width: 371px) and (max-width: 769px) {
    body main #intro h1 {
      font-size: 3.4rem;
      line-height: 4rem; } }
  @media screen and (min-width: 1382px) {
    body main #intro {
      max-width: 84vw; }
      body main #intro h1 {
        font-size: 4.5rem;
        line-height: 6rem;
        padding: 6rem 0 3rem 4rem; }
    body main #work {
      max-width: 80vw; }
    body main #info .info-container {
      max-width: 80vw; } }
  @media screen and (min-width: 1558px) {
    body main #intro {
      max-width: 74vw; }
    body main #work {
      max-width: 70vw; }
    body main #info .info-container {
      max-width: 70vw; } }
  @media screen and (min-width: 1782px) {
    body main #intro {
      max-width: 60vw; }
    body main #work {
      max-width: 56vw; }
    body main #info .info-container {
      max-width: 56vw; } }
  @media screen and (min-width: 2220px) {
    body main #intro {
      max-width: 56vw; }
    body main #work {
      max-width: 48vw; }
    body main #info .info-container {
      max-width: 50vw; } }

/*# sourceMappingURL=new_home.css.map */
