/*
	0. Typography
	1. CSS Reset & Clearfix	
	2. Document Setup
	3. Page Layout
*/
/* ------------------------------------------- */
/*	0. Typography */
/* ------------------------------------------- */
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:100,100i,200,200i,300,300i,400,400i|Josefin+Slab:200,200i,300,300i,400,400i|Lato:200,200i,300,300i,400,400i|Source+Sans+Pro:200,200i,300,300i,400,400i|Trirong:200,200i,300,300i,400,400i|Unica+One");
@font-face {
  font-family: 'Cassannet Regular';
  src: url("../typefaces/Cassannet/Cassannet-Regular.woff2") format("woff2"), url("../typefaces/Cassannet/Cassannet-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Cassannet Bold';
  src: url("../typefaces/Cassannet/Cassannet-Bold.woff2") format("woff2"), url("../typefaces/Cassannet/Cassannet-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: 'Cassannet Outline';
  src: url("../typefaces/Cassannet/CassannetOutline-Regular.woff2"), format("woff2") url("../typefaces/Cassannet/CassannetOutline-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Knile';
  src: url("typefaces/Knile/knile-regular-webfont.woff") format("woff"); }
/* ------------------------------------------- */
/*	1. CSS Reset
/* ------------------------------------------- */
html,
body {
  margin: 0;
  padding: 0; }
  html h1,
  html h2,
  html h3,
  html h4,
  html h5,
  html h6,
  html p,
  html blockquote,
  html address,
  html big,
  html cite,
  html code,
  html em,
  html font,
  html img,
  html small,
  html strike,
  html sub,
  html sup,
  html li,
  html ol,
  html ul,
  html fieldset,
  html form,
  html label,
  html legend,
  html button,
  html table,
  html caption,
  html tr,
  html th,
  html td,
  body h1,
  body h2,
  body h3,
  body h4,
  body h5,
  body h6,
  body p,
  body blockquote,
  body address,
  body big,
  body cite,
  body code,
  body em,
  body font,
  body img,
  body small,
  body strike,
  body sub,
  body sup,
  body li,
  body ol,
  body ul,
  body fieldset,
  body form,
  body label,
  body legend,
  body button,
  body table,
  body caption,
  body tr,
  body th,
  body td {
    margin: 0;
    padding: 0;
    border: 0;
    font-style: normal;
    text-align: left; }
  html ol,
  html ul,
  body ol,
  body ul {
    list-style: none; }
  html a,
  body a {
    outline: none; }
  html input[type=search],
  body input[type=search] {
    -moz-appearance: none;
    -webkit-appearance: none; }

/* ------------------------------------------- */
/*	2. Document setup
/* ------------------------------------------- */
:root {
  --body-bg-color: #fefefe;
  --body-bg-text-color: #E1E7DC;
  --body-text-color: #4C4C4C;
  --link-text-color: #37ABB8;
  --dark-impact-color: rgba(20, 61, 102, 0.8);
  /* hex #143D66 */
  --dim-impact-color: rgba(40, 122, 204, 0.8);
  /* hex #287acc */
  --impact-color: #287acc;
  /* hex #287acc */
  --dark-green: #464c35;
  --soft-green: #82915f;
  /* hex #708C54 */
  --oliver: #575e33;
  /* hex #575E33 */
  --disp-sans: 'Josefin Sans', sans-serif;
  --disp-serif: 'Josefin Slab', sans-serif;
  --para-type: 'Josefin Slab', serif;
  --cassannet-reg: 'Cassannet Regular', 'Josefin Sans', 'Trirong', 'Lato', sans-serif;
  --cassannet-outline: 'Cassannet Outline', 'Josefin Slab', 'Trirong', serif; }

* {
  box-sizing: border-box; }

body {
  color: var(--body-text-color);
  background: var(--body-bg-color);
  font-size: 18px;
  width: 100%;
  position: absolute;
  overflow-x: hidden;
  /* ------------------------------------------- */
  	/*	3. Page Layout
    /* ------------------------------------------- */ }
  body h1 {
    font-family: var(--disp-sans);
    font-size: 6vw;
    font-weight: 400;
    line-height: 5rem; }
  body h3 {
    font-family: var(--disp-sans), sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem; }
  body h4 {
    font-family: var(--disp-sans), sans-serif;
    font-size: 2rem;
    font-weight: 400;
    line-height: 4rem; }
  body p {
    font-family: var(--para-type), serif;
    line-height: 1.5rem; }
  body a {
    cursor: pointer;
    color: var(--body-text-color);
    text-decoration: none; }
  body img {
    max-width: 100%;
    height: auto; }
  body main {
    display: grid;
    grid-template-columns: 2vw 96vw 2vw;
    grid-template-rows: repeat(auto-fill, minmax(5vh, 1fr)); }
    body main #intro {
      display: flex;
      grid-row: 2;
      grid-column: 2;
      margin-bottom: 5rem;
      flex-direction: column; }
      body main #intro h1 {
        font-size: 2.8rem;
        line-height: 3.5rem;
        padding: 2rem; }
        body main #intro h1 #dot {
          color: var(--body-bg-color);
          line-height: 0.2em;
          display: flex; }
      body main #intro a {
        color: var(--soft-green); }
      body main #intro .chevron {
        width: 3rem;
        margin: 10vw auto; }
      body main #intro .hop {
        animation: bounce 3s infinite;
        animation-delay: 2s;
        animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94); }
@keyframes bounce {
  0%,
				15%,
				40%,
				100% {
    transform: translateY(0); }
  6% {
    transform: translateY(2rem); }
  25% {
    transform: translateY(3.5rem); } }
    body main #work {
      display: grid;
      grid-column: 2;
      grid-row: 3;
      grid-gap: 4vw;
      grid-template-columns: repeat(auto-fit, minmax(260px, 1fr)); }
      body main #work .project {
        height: 400px;
        margin-top: 15vw; }
        body main #work .project #tile .pic img {
          border-radius: 5px;
          opacity: 1;
          transition: all ease-out .3s; }
        body main #work .project #tile .desc h3 {
          display: inline-block;
          font-family: var(--cassannet-reg);
          font-weight: normal;
          font-style: normal;
          transition: ease-out .2s; }
        body main #work .project .link {
          color: var(--dim-impact-color);
          display: inline-block;
          font-family: var(--disp-sans);
          bottom: 0%;
          transition: ease-in .2s;
          line-height: 1rem; }
          body main #work .project .link:hover {
            color: var(--impact-color);
            transition: linear .2s; }
          body main #work .project .link::after {
            background: var(--impact-color);
            content: '';
            display: block;
            height: 1.5px;
            width: 0;
            transition: width ease-out .2s; }
          body main #work .project .link:hover::after {
            transition: width ease-out .2s;
            width: 100%; }
    body main #info {
      align-items: center;
      background-color: #222;
      display: flex;
      flex-direction: column-reverse;
      grid-column: 1;
      grid-row: 4;
      margin-top: 25vw;
      padding: 3rem 2vw;
      width: 100vw; }
      body main #info a,
      body main #info h1,
      body main #info h2,
      body main #info h3,
      body main #info h4,
      body main #info p {
        color: var(--body-bg-text-color); }
      body main #info .contact_info {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 2rem; }
        body main #info .contact_info .self {
          background-image: url("https://lh3.googleusercontent.com/4yMhhFN7LW8V4cKWcZI78Rt50rk7RyMeUl4sFP6Sucux_nt2M9lJM0v703_2jadKbDUBeTbLaow1rZQcXupWEOm8oVoKVVkhhSb7NGX0lZxUZuglOt1rtRYVceHE6xJNWx7zIwvPQWmgBqAbtdP8Kx5VUy93nfO8Se7kP3fmcgh4p36fP65QlEHQ9jhbd9ldhYSpCU6f6TxrXp_l1HiK4-AgGODGvXoK3b6GyYKhhganvKMXo8ah76JTCnfw-dWNbGkbI4lEtD0psTHxrY2hjwBFOn6BCKjf6cS0zX_89u2QvGXuRLLaggy6yNLy66xiQsPx1xJsqwvMfu3Su8Cz0pwVk_lhYXlUpbua9krDdfTfMaB7oIyadz88VtzCCob_Kl0XOLlsdGMPl2cKES6tRoaAwl0Ec3o21PI3n38yuamRPgZAt1Y-JpTFTxUb36KqCP0N02Of9W8cU4WuwE44ScpnEEsJc8llPuxgWFLeBw8YXAmfVVV4ZnT4ZGpbRN_WPhgaftQ-kHNY8yBCImutFjqIsUp-yTbD4O-hOxDGJRffdnSqnN_d7MNJ7lC2BAucEKq2Wq-bJKq_4yR5gD-y3kY-sg0RbTC1QYIzVMvA4Xuu6GONzmqsEuvi8Q=w811-h691-no");
          background-size: cover;
          border-radius: 5px;
          height: 225px;
          width: 300px;
          display: none; }
        body main #info .contact_info .access {
          display: flex;
          flex-direction: column;
          align-items: center; }
          body main #info .contact_info .access .personal {
            color: var(--soft-green);
            transition: ease-in .2s;
            font-family: 'Source Sans Pro', sans-serif;
            font-size: 1rem;
            font-weight: 100;
            margin: 1rem 0 2rem; }
            body main #info .contact_info .access .personal:hover {
              color: var(--body-bg-text-color);
              transition: linear .2s; }
            body main #info .contact_info .access .personal::after {
              background: var(--impact-color);
              content: '';
              display: inherit;
              height: 1px;
              width: 0;
              transition: width ease-out .2s; }
            body main #info .contact_info .access .personal:hover::after {
              transition: width ease-out .2s;
              width: 100%; }
            body main #info .contact_info .access .personal:first-of-type {
              margin-bottom: 1rem; }
        body main #info .contact_info .icon-row {
          display: flex;
          justify-content: space-between;
          width: 86vw;
          margin: 1rem 0; }
          body main #info .contact_info .icon-row .medium {
            background: no-repeat url(../../img/Monogram.svg); }
          body main #info .contact_info .icon-row .twitter {
            background: no-repeat url(../../img/Twitter_Logo_Blue.svg); }
          body main #info .contact_info .icon-row .github {
            background: no-repeat url(../../img/Github_Logo_White.svg); }
          body main #info .contact_info .icon-row .linkedin {
            background: no-repeat url(../../img/Linkedin_Logo_Blue.svg); }
          body main #info .contact_info .icon-row .logo {
            background-size: cover;
            width: 3rem;
            height: 3rem; }
            body main #info .contact_info .icon-row .logo:hover {
              background-color: rgba(130, 173, 95, 0.1);
              transition: cubic-bezier(0.785, 0.135, 0.15, 0.86); }
      body main #info .statement {
        display: flex;
        flex-direction: column;
        margin-top: 2rem; }
        body main #info .statement h3 {
          font-family: var(--disp-serif);
          font-weight: 400;
          line-height: 1em; }
        body main #info .statement p {
          font-family: var(--disp-sans);
          font-weight: 300;
          margin: 1rem 0; }
        body main #info .statement .product {
          color: var(--soft-green);
          transition: ease-in .2s; }
          body main #info .statement .product:hover {
            color: var(--body-bg-text-color);
            transition: linear .2s; }
          body main #info .statement .product::after {
            background: var(--impact-color);
            content: '';
            display: inherit;
            height: 1px;
            width: 0;
            transition: width ease-out .2s; }
          body main #info .statement .product:hover::after {
            transition: width ease-out .2s;
            width: 100%; }
    body main footer {
      align-items: center;
      border: 1rem solid white;
      display: flex;
      flex-direction: column-reverse;
      grid-column: 1 / span 3;
      grid-row: 5; }
      body main footer a {
        color: var(--dark-impact-color);
        font-family: var(--disp-sans), sans-serif;
        font-weight: 300;
        margin: 0.5rem; }
        body main footer a:hover {
          color: var(--impact-color); }
  @media screen and (min-width: 650px) {
    body main {
      grid-template-columns: 5vw 90vw 5vw; }
      body main #intro {
        margin: 3rem; }
        body main #intro h1 {
          font-size: 6vw;
          line-height: 5rem; }
          body main #intro h1 #dot {
            display: none; }
      body main #work {
        margin: 0 2rem; }
        body main #work .project #tile img {
          border-radius: 5px;
          opacity: .9;
          transition: all ease-out .3s; }
        body main #work .project #tile:hover img {
          box-shadow: 0 0.3rem 1.5rem 0rem var(--dark-green);
          opacity: 1;
          transform: translateY(-0.3rem);
          transition: opacity linear .2s box-shadow ease-in-out .2s; }
        body main #work .project #tile:hover .desc h3 {
          font-family: var(--cassannet-outline);
          transition: all ease-in-out .3s; }
      body main #info {
        align-items: flex-start;
        flex-direction: row;
        justify-content: space-between; }
        body main #info .contact_info {
          height: 100%;
          width: 28vw;
          margin-left: 5vw; }
          body main #info .contact_info .self {
            display: flex;
            width: 100%; }
          body main #info .contact_info .access {
            flex-flow: row wrap;
            justify-content: space-between;
            margin: 2rem auto;
            width: 100%; }
            body main #info .contact_info .access .personal:first-of-type {
              margin: 0 2rem 1rem 0; }
          body main #info .contact_info .icon-row {
            width: 100%; }
        body main #info .statement {
          margin-right: 5vw;
          width: 50vw; }
          body main #info .statement p:last-of-type {
            margin-bottom: 2rem; }
      body main footer {
        flex-direction: row;
        justify-content: space-between;
        grid-column: 2; }
        body main footer a {
          margin: 1rem; } }
  @media (min-width: 300px) and (max-width: 370px) {
    body main #intro h1 {
      font-size: 2.8rem;
      line-height: 3.5rem; } }
  @media screen and (min-width: 371px) and (max-width: 769px) {
    body main #intro h1 {
      font-size: 3.4rem;
      line-height: 4rem; } }

/*# sourceMappingURL=new_home.css.map */
