@import "base/variables";
@import "base/mixins";
@import "base/reset";
@import "components/typography";
@import "components/buttons";
@import "components/navigation";
@import "components/sections";
// 0.	CSS Reset & Clearfix
// 1.	Document Setup

/* ------------------------------------------- */


/* ------------------------------------------- */


/*	0. CSS Reset
/* ------------------------------------------- */

html,
body {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

ol,
ul {
    list-style: none;
}

blockquote:before,
blockquote:after {
    content: "";
}

a {
    text-decoration: none;
    font-family: inherit;
}

input[type=search] {
    -moz-appearance: none;
    -webkit-appearance: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}

input[type="button" i],
input[type="submit" i],
input[type="reset" i],
input[type="file" i]::-webkit-file-upload-button,
button {
    border: 0;
    outline: 0;
}
