@import "app";

.intro {
  @include flex ();
  background-color: #FFF;
  width: 100%;

  .border {
    @include flex (column, $al: center);
    width: 100%;
    border: 1px solid #ECECE6;
    margin: 1.25em;

    .header-container {
      position: fixed;
      @include flex ($jc: space-around);
      max-width: 96vw;

      .site-header {
        @include flex ();
        // overflow: hidden;
        padding: 1.5em 0 1em 0;
        h1 {
          color: ECECE6;
          display: inline-block;
        }
        @media (min-width: 500px) {
          padding-top: 2em;
        }

        nav  {
          @include flex ($jc: space-between);
          @include size (100vw, auto);
          .nav-logo {
            @include flex ();
            margin-left: 5em;
            text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4);
            &:hover {
              box-shadow: 0px 2px 0px rgba(183, 9, 26, 0.8);
              transition-timing-function: 500ms ease-out;
              transition-duration: 200ms;
            }

            svg {
              @include flex ();
              @include size (4em, 4em);
            }
          }
        }
        .links {
          @include flex ($jc: flex-end, $al: center);
          margin-right: 2em;
          a {
            font-size: 1.4em;
            font-family: 'Lato', sans-serif;
            font-weight: 200;
            margin-right: 2em;
            text-shadow: 0 1px 1px #FFF;
            &:hover {
              box-shadow: 0px 2px 0px rgba(183, 9, 26, 0.8);
              transition-timing-function: 500ms ease-out;
              transition-duration: 200ms;
            }
          }
        }
      }
    }
    .wrapper {
      @include flex (column, $al: center);
      margin: 5%;
      padding-bottom: 3%;
      text-align: center;
      width: 98%;
      h2 {
        margin: 2em 0 1em;
        font-family: 'Lato', sans-serif;
        font-size: 2.5em;
        font-weight: 200;
        line-height: 1.25em; }
        @media (min-width: 470px) {
          h2 {
            font-size: 3em; } }
        @media (min-width: 750px) {
          h2 {
            font-size: 4em; } }
        @media (min-width: 1300px) {
          h2 {
            font-size: 5em;
            margin-top: 1em; } }
        @media (min-width: 1550px) {
          h2 {
            font-size: 6em;
            margin-top: 1.5em; } }
        img {
          @extend .wrapper;
          margin-top: 2em;
        }
      }
    }
  }
  footer {
    @include flex ($jc: center);
    color: black;
    font-family: 'Lato', sans-serif;
    font-weight:200;
    margin: -1.25em auto;
    p {
      font-size: 2em;
      a {
        margin: 0 2em;
        color: #0072BB;
      }
    }
  }
