@import "app";

/* Reset
----------------------------------------------------- */

header, footer, nav, article, hgroup, figure {
  display: flex;
}

body {
  font-family: 'Lato', sans-serif;
  line-height: 1.5;
  overflow: auto;


  small, del {
    color: darken(grey, 20%);
  }

  h1 {
    font-size: 1.3em;
    font-weight: 500; }
    @media (min-width: 500px) {
      h1 {
        font-size: 1.1em; } }

  h2 {
    color: blanchedalmond;
    margin-bottom: .25em;
    font-size: 2.5em;
    line-height: 1.25em; }
    @media (min-width: 470px) {
      h2 {
        font-size: 3em; } }
    @media (min-width: 750px) {
      h2 {
        font-size: 4em; } }
    @media (min-width: 1300px) {
      h2 {
        font-size: 5em;
        margin-top: 1em; } }
    @media (min-width: 1550px) {
      h2 {
        font-size: 6em;
        margin-top: 1.5em; } }

  h3 {
    color: #212A27;
    font-size: 1.5em;
    line-height: 2em;
    @media (min-width: 750px) {
      font-size: 2.5em;
    }
  }

  h6 {
    color: white;
    font-size: 1.25em;
    font-weight: 500;
    margin-bottom: -.75em; }

  p {
    font-size: 1.4em;
    line-height: 1.4em;
  }

  br {
    padding-bottom: 10em; }

  /* Layout
  -------------------------------------------------------------- */
  .home {

    .intro {
      @include flex ();
      &:after {
      content: "";
      background: #090B00 url("../../img/blotty.png") center;
      @include size (100%, 100%);
      opacity: 0.4;
      position: fixed;
      top: 0;
      z-index: -3;
      }
     // @media (min-width: 1300px) {
     //     .home .intro .container {
     //       padding-bottom: 22em; } }
     // @media (min-width: 470px) {
     //   .home .intro {
     //     background-size: 1100px; } }
     // @media (min-width: 750px) {
     //   .home .intro {
     //     background-size: 1300px; } }
     // @media (min-width: 1300px) {
     //   .home .intro {
     //     background-size: 1500px; } }
     // @media (min-width: 1550px) {
     //   .home .intro {
     //     background-size: 1700px;
     //     background-position: 90% bottom; } }
     // &:after {
     // content: "";
     // // background: #090C00 url("../img/asanoha-grade copy.svg") repeat;
     // width: 100%;
     // height: 100%;
     // position: absolute;
     // top: 0;
     // z-index: -1;
     // }


    .border {
      @include flex (column);
      width: 100%;
      border: 1px solid #ECECE6;
      margin: 1.25em;
      position: relative;

      .header-container {
        // @include flex ($jc: space-around);
        max-width: 96vw;
        // &:after {
        // content: "";
        // display: table;
        // clear: both;
        // }

        .site-header {
          @include flex ();
          // overflow: hidden;
          padding: 1.5em 0 1em 0;
          h1 {
            color: ECECE6;
            display: inline-block;
          }
          @media (min-width: 500px) {
            padding-top: 2em;
          }

          nav  {
            @include flex ($jc: space-between);
            @include size (100vw, auto);
            margin: 0 3em;
            .nav-logo {
              @include flex ($al: flex-start);
              .sk-name-logo {
                @include flex ($al: flex-start);
                svg {
                  @include flex ();
                  @include size (25em, 4em);
                }
              }
              &:hover {
                box-shadow: 0px 2px 0px rgba(183, 9, 26, 0.8);
                transition-timing-function: 500ms ease-out;
                transition-duration: 200ms;
              }

            }
          }
            .links {
              @include flex ($al: flex-start);
              a {
                font-size: 1.4em;
                font-weight: 200;
                color: #3A7CA5;
                margin: 0 2em;
                &:hover {
                  box-shadow: 0px 2px 0px rgba(183, 9, 26, 0.8);
                  transition-timing-function: 500ms ease-out;
                  transition-duration: 200ms;
                }
              }
            }
          }
        }
      }
      .container {
        @include flex (column);
        // border: 1px solid green;
        padding: 3em 5em 24em;
        p {
          color: blanchedalmond;
        }
        .first {
          @include flex (column);
          .construction {
            @include flex ();
            z-index: -1;
            .name {
              @include flex (column);
              margin-top: 3em;
              h2 {
                color: blanchedalmond;
                font-size: 4em;
                font-weight: 200;
                margin-bottom: 1em;
                width: 100%;
              }
              h4 {
                color: #FF5D00;
                font-size: 3em;
                line-height: 1em;
                margin-bottom: 1em;
                padding-left: 2em;
                text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
                width: 80%;
              }
              // &:hover {
              //   content: "   ...like sky-ler...";
              // }

            }
            .cone-holder {
              @include flex ();
              @include size (200px, 250px);
              position: relative;
              opacity: 0.7;
              top: -60px;
            }
          }
          .story {
            @include flex ();
            word-spacing: 1px;
          }
          // @media (min-width: 470px) {
          //   width: 90%;
          // }
          // @media (min-width: 750px) {
          //   border: 1px solid red;
          //   width: 70%;
          // }
          // @media (min-width: 1300px) {
          //   border: 1px solid yellow;
          //   width: 26%;
          // }
        }
        .second {
          @include flex ();
          word-spacing: 1px;
          width: 55%;
          a {
            color: #3A7CA5;
            font-size: inherit;
            font-weight: 200;
            &:hover {
              border-radius: 1px;
              background-color: rgba(91,146,121,0.2);
              transition: all 0.1s ease-in-out;
            }
          }
        }

        .section-links {
          @include flex (column);
          margin: 2em 0;
          padding: 0 30px;
          a {
            color: #3A7CA5;
            font-size: 1.4em;
            font-weight: 200;
            display: table;
            &:hover {
              border-radius: 1px;
              background-color: rgba(91,146,121,0.2);
              color: #3A7CA5;
              transition: all 0.3s ease-in-out;
            }
          }
        }
      }
    }     // "Border" ending (Landing Page)
  // Brace below closes .home
  }


  .tier {
    @include flex ();
    .work-container {
      @include flex (column);
      margin: 0 1em;
      overflow: hidden;
      padding: 0 5px;
      h3 {
        text-align: center;
      }
      .patchwork {
        @include flex (row, $jc: flex-start);
        margin: 1em auto;
        .infotext {
          @include flex (column);
          color: blanchedalmond;
          margin: 1em;
          .inner-fo {
            display: inline-block;
          }
          @media screen and (min-width: 960px) {
            // width: 100%;
          }
        }
        .group-1 {
          @include flex (column);
          margin: 0 1em;
          .project-1 {
            @include flex (column);
            @include size (100%, auto);
            img {
              width: 100%;
              object-fit: scale-down;
            }
            .overlay-1 {
              position: relative;
              @include size (80%, 80%);
              border-top: 1px solid white;
              border-bottom: 1px solid white;
              top: 10%;
              left: 10%;
              text-align: center;
              opacity: 0;
              -webkit-transition: opacity .25s ease;
              transition: opacity .25s ease;
            }
            &:hover {
              filter: brightness(0.4);
              -webkit-filter: brightness(0.4);
            }
            &:hover .overlay-1 {
              background: transparent;
              opacity: 1;
            }

            @media screen and (min-width: 960px) {
              @include flex ();
              padding-right: 1em;
              width: 100%;
            }
          }
          .project-2 {
            border: 1px solid yellow;
            @include flex (column);
            @media screen and (min-width: 960px) {
              // img {
              //   height: 100%;
              //   object-fit: scale-down;
              // }
            }
          }
        }
        .group-2 {
          @include flex ();
          margin: 0 1em;
          .project-1 {
            img {
              box-shadow: 0 0 4px 4px;
              max-height: 400px;
              filter: brightness(0.8);
              -webkit-filter: brightness(0.8);
            }
          }
          @media screen and (min-width: 960px) {
            @include flex (column);
            padding-right: 1em;
            width: 100%;
          }
        }
      }
    }
  }
  footer {
    @include flex ($jc: center);
    .site-footer {
      @include flex ($jc: center);
      color: grey;
      margin: 0 auto;
      p {
        font-size: 1em;
        a {
          color: #0072BB;
        }
      }
    }
  }
}
