@import "app";

.intro {
  @include flex ();
  background-color: #FFF;
  width: 100%;

  .header-container {
    margin-top: 2em;
    position: fixed;
    @include flex ($jc: flex-start);

    .site-header {
      @include flex ();
      h1 {
        color: ECECE6;
        display: inline-block;
      }
      @media (min-width: 500px) {
        // padding-top: 2em;
      }

      nav  {
        @include flex ($jc: space-between);
        @include size (100vw, auto);
        .nav-logo {
          @include flex ();
          margin-left: 2em;
          text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4);
          &:hover {
            box-shadow: 0px 2px 0px rgba(183, 9, 26, 0.8);
            transition-timing-function: 500ms ease-out;
            transition-duration: 200ms;
          }

          svg {
            @include flex ();
            @include size (4em, 4em);
          }
        }
      }
      .links {
        @include flex ($jc: flex-end, $al: center);
        margin-right: 2em;
        a {
          font-size: 1.4em;
          font-family: 'Lato', sans-serif;
          font-weight: 200;
          margin-right: 2em;
          text-shadow: 0 1px 1px #FFF;
          &:hover {
            box-shadow: 0px 2px 0px rgba(183, 9, 26, 0.8);
            transition-timing-function: 500ms ease-out;
            transition-duration: 200ms;
          }
        }
      }
    }
  }

  .border { 
    @include flex (column, $al: center);
    width: 98%;
    border: 1px solid #ECECE6;
    margin: 2em 8em;

    .wrapper {
      @include flex (column, $al: center);
      // margin: 5%;
      padding-bottom: 3%;
      text-align: center;
      width: 100%;

      img {
        @extend .wrapper;
      }
    }
  }
  
  @media screen and (max-width: 600px) {
    .header-container {
      margin: 0;
      .site-header {
        nav {            
          .nav-logo {
            @include flex ();
            margin: 2vw;
            svg {
              height: 10vh;
              width: 10vh;
            }
          }
        }  
      }    
    }
    .border {
      margin: 12vh 2vw 0;
      width: 100%;
      border: none;
    }  
  }
}
  
footer {
  @include flex ($jc: center);
  color: black;
  font-family: 'Lato', sans-serif;
  font-weight:200;
  margin: -1.25em auto;
  p {
    font-size: 2em;
    a {
      margin: 0 2em;
      color: #0072BB;
    }
  }
}

