@import "app";

header {
  .sk-logo {
    img {
      margin: auto auto -5% -35%;
      width: 175%;
      opacity: 0.1;
    }
    svg {
      @include size (100vw, 100vh);
      opacity: 0.4;
      margin-top: -178%;
      fill: #23211F;
    }
  }
}


.about {
  @include size (100vw, 100vh);
  @include flex (column);
  flex-wrap: nowrap;
  margin: 4em 0;
  text-align: center;

  .boldy {
    letter-spacing: 5px;
    font-size: 2.75em;
    font-family: 'cassannet_boldbold';
  }
  .outline {
    @extend .boldy;
    margin: -.9em auto auto .5em;
    opacity: .3;
  }

  p {
    margin: 2em 1em;
    padding: 1em;
    max-width: 50em;
    font-family: 'Geomanist';
    font-style: italic;
    font-size: 1.15em;
  }
}
  .projects {
    h2 {
      text-align: center;
      font-variant: small-caps;
      font-family: 'Cassannet';
      font-weight: bold;
    }
  }
  a {
    color: #e1e0e0;
    text-decoration: none;
  }
