@import "app";

header {
  @include size (100vw, 100vh);
  @include flex (column);
  .sk-logo {
    @extend header;
    img {
      @extend .sk-logo;
      margin: 0 0;
      width: 100vw;
      opacity: 0.1;
    }
    .smk-svg {
      margin-top: -135%;
      svg {
        opacity: 0.4;
        fill: #23211F;
      }
    }
  }
}

.about {
  @include size (100vw, 100vh);
  @include flex (column, $jc: center);
  margin: 0 auto;
  text-align: center;
  .pandering {
    @include flex (column, $ac: space-around);
    .boldy {
      letter-spacing: 5px;
      font-size: 2.75em;
      font-family: 'cassannet_boldbold';
    }
    .outline {
      @extend .boldy;
      margin: -.9em auto auto .5em;
      opacity: .3;
    }
    p {
      margin: 1em;
      padding: 1em;
      max-width: 50em;
      font-family: 'Geomanist';
      font-style: italic;
      font-size: 1.15em;
    }
  }
}
  .projects {
    @include size (100vw, 100vh);
    @include flex (column, $jc: center);
    margin: 0 auto;
    text-align: center;
    .blacktower {
      h2 {
        text-align: center;
        font-variant: small-caps;
        font-family: 'cassannet';
      }
      a {
        color: floralwhite;
        font-family: 'kimberley';
        font-variant: small-caps;
      }
    }
    a {
      font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
      letter-spacing: .05em;
    }
  }
