@import "app";
@font-face {
  font-family: 'Cassannet';
  font-family: 'Geomanist_Webfontkit';
  font-family: 'Knile_Webfontkit';
  src: url('../../typefaces/Cassannet/Cassannet Bold.otf') format('otf');
  src: url('../../typefaces/Cassannet/Cassannet Outline.otf') format('otf');
  src: url('../../typefaces/Cassannet/Cassannet.otf') format('otf');
  src: url('../../typefaces/Geomanist-Regular/geomanist-regular-webfont.svg#geomanist_regularregular') format('svg');
  src: url('../../typefaces/Geomanist-Italic/geomanist-regular-italic-webfont.svg') format('svg');
}

#hero {
  @include flex ($jc: center);
  height: 100vh;
  .sk-logo {
    height: 100%;
    svg {
      @include size (100vw, 100vh);
      opacity: .5;
      fill: #23211F;
    }
    .thumb {
      margin: -400px auto 0;
      @include size (50%, 45%);
      @include flex (column, center, center);
      background: url("../../img/thumbp2.svg");
      background-size: contain;
      opacity: .3;
    }
  }
}

.category {
  @include flex (column);
  flex-wrap: nowrap;
  margin: 2em 0;
  h1 {
    font-size: 1.8em;
    letter-spacing: 4px;
    color: snow ;
    font-family: 'Cassannet Outline';
  }
  p {
    @include flex (column, $al: center);
    margin: 1em;
    padding: 1em;
    font-size: 1em;
    line-height: 1.5em;
    max-width: 50em;
    border-radius: 4px;
    background: #98ADA5;
    color: grey;
    font-family: 'Geomanist-Regular';
    font-style: italic;
  }
}

#projects {

  .blacktower {

  }

}
