/* ------------------------------------------- */
/*
	0. Typography
	1. CSS Reset & Clearfix	
	2. Document Setup
	3. Page Layout
*/

/* ------------------------------------------- */
/*	0. Typography */
/* ------------------------------------------- */

@font-face {
	font-family: 'Cassannet Outline';
	src: url('typefaces/Cassannet/cassannet_outline-webfont.woff2') format('woff2'),
	url('typefaces/Cassannet/cassannet_outline-webfont.woff') format('woff');

	font-family: 'Cassannet Regular';
	src: url('typefaces/Cassannet/cassannet-webfont.woff') format('woff'),
	url('typefaces/Cassannet/cassannet-webfont.woff2') format('woff2');
		
	font-family: 'Cassannet Bold';
	src: url('typefaces/Cassannet/cassannet_bold-webfont.woff') format('woff'),
	url('typefaces/Cassannet/cassannet_bold-webfont.woff2') format('woff2');
}

@font-face {
	font-family: 'Knile';
	src: url('typefaces/Knile/knile-regular-webfont.woff') format('woff');
}

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Josefin+Slab|Lato|Unica+One|Trirong');


/* ------------------------------------------- */
/*	1. CSS Reset
/* ------------------------------------------- */

html, body { 
	margin:0; padding:0; height:100%;

	h1, h2, h3, h4, h5, h6, p, blockquote, address, big, cite, code, em, font, img, small, strike, sub, sup, li, ol, ul, fieldset, form, label, legend, button, table, caption, tr, th, td {
		margin:0;
		padding:0;
		border:0;
		font-weight:normal;
		font-style:normal;
		text-align:left;
	}

	ol, ul { list-style:none; }

	a { outline:none; }

	input[type=search] {
		-moz-appearance:none;
		-webkit-appearance:none;
	}
}


/* ------------------------------------------- */
/*	2. Document setup
/* ------------------------------------------- */



////////////////             ////////////////////////////
       //       CSS Variables        //
////////////////             ////////////////////////////				

:root {
		--body-bg-color: #fefefe;
		--body-bg-text-color: #E1E7DC;
		--body-text-color: #4C4C4C;
		--impact-color: rgba(40, 122, 204, 0.7);  /* hex #287acc */
		--disp-sans: 'Josefin Sans', sans-serif;
		--disp-serif: 'Josefin Slab', 
		sans-serif;
		--para-type: 'Josefin Slab', serif;
	}

///////////////////////////////////////////////////////////	



* { 
	box-sizing: border-box; 
}

body {
	color: var(--body-text-color);
	background: var(--body-bg-color);
	font-size: 20px;
	max-width: 100vw;
	position: absolute;
	
	h1 {
		font-family: var(--disp-sans);
		font-size: 6vw;
		font-weight: 600;
		line-height: 5rem;
	}

	h3 {
		font-family: var(--disp-sans), sans-serif;
		font-size: 2.5rem;
		font-weight: 600;
	}

	p {	
		font-family: var(--para-type), serif;
		line-height: 1.45rem;

	}

	a {
		cursor: pointer;
		color: var(--body-text-color);
		text-decoration: none;
	}

	img {
		max-width: 100%;
		height: auto;
	}
	
  
  /* ------------------------------------------- */
  /*	3. Page Layout
  /* ------------------------------------------- */


	main {
		display: grid;
		justify-content: center;
		grid-template-rows: repeat(auto-fill, minmax(0px, 1fr));
		grid-template-columns: 7vw 1fr 7vw ;
		overflow-x: hidden;

//  HELLO Section  //

		#intro {
			display: grid;
			grid-row: 2; 
			grid-column: 2;
			margin: 0 auto;
			max-height: 97vh;
			padding: 10vw 5vw;

			h1 {
				justify-content: center;

				div {
					display: none;
				}
			}
				
			
			.chevron {
				// background: no-repeat url(../../img/Arrow.svg);
				color: var(--impact-color);
				height: 11vh;
				width: 7vh;
				margin: 15vw auto;

			}
			// .hop {
			// 	animation: fadeIn 500ms linear, bounce 2s infinite;
			// 	animation-delay: 2s, 2.5s;
			// }
		}

//  WORK Section  //

		#work {
			display: grid;
			grid-row: 3;
			grid-column: 2;
			height: 400px;

			.project-container {
				display: grid;
				grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
				grid-gap: 10vh 4vw;
				height: min-content;

				.project {
					display: grid;
					height: 390px;
					position: relative;

					a {
						display: grid;

						.pic {
							display: grid;
							height: 50%;

							img {
								border-radius: 5px;	
								opacity: 0.9;
								transition: ease-in-out .4s;
							}
						}	

						.desc {
							display: grid;
							
							h3{
								display: inline-block;
								font-family: 'Cassannet Regular',
								'Lato';
								position: absolute;
								top: 63%;
								transition: all .2s;
							}

							p {
								position: absolute;
								top: 75%;
							}
						}

						&:hover img {
							box-shadow: 0 0.3rem 1.5rem 0rem rgba(132, 153, 115, 0.8);
							opacity: 1;
							transform: translateY(-0.3rem);
							transition: all ease-in-out .3s;
						}
						
						&:hover h3 {
							font-family: 'Cassannet Outline', 'Lato';
							transition: all cubic-bezier(.96, .15, .83, .67);
						}
					}
				} 
			}
		}


//  ABOUT Section  //

		#info {
			background-color: #222;
			display: grid;
			grid-row: 5;
			grid-template-columns: repeat(3, minmax(370px, 1fr));
			height: 550px; width: 100vw;
			margin-top: 20vw;
			padding: 3rem 7vw;
			position: relative;
			align-items: flex-start;
			
			a, h1, h2, h3, h4, p { color: var(--body-bg-text-color); }
			
			.contact_info {
				display: grid;
				grid-column: 1;
				grid-template-columns: repeat(4, 1fr);
				justify-items: center;
				grid-template-rows: repeat(3, 1fr);
				position: absolute;
				max-height: 100%;
				align-items: flex-start;
				padding: 3rem 0;

				.self {
					background-image: url("https://lh3.googleusercontent.com/4yMhhFN7LW8V4cKWcZI78Rt50rk7RyMeUl4sFP6Sucux_nt2M9lJM0v703_2jadKbDUBeTbLaow1rZQcXupWEOm8oVoKVVkhhSb7NGX0lZxUZuglOt1rtRYVceHE6xJNWx7zIwvPQWmgBqAbtdP8Kx5VUy93nfO8Se7kP3fmcgh4p36fP65QlEHQ9jhbd9ldhYSpCU6f6TxrXp_l1HiK4-AgGODGvXoK3b6GyYKhhganvKMXo8ah76JTCnfw-dWNbGkbI4lEtD0psTHxrY2hjwBFOn6BCKjf6cS0zX_89u2QvGXuRLLaggy6yNLy66xiQsPx1xJsqwvMfu3Su8Cz0pwVk_lhYXlUpbua9krDdfTfMaB7oIyadz88VtzCCob_Kl0XOLlsdGMPl2cKES6tRoaAwl0Ec3o21PI3n38yuamRPgZAt1Y-JpTFTxUb36KqCP0N02Of9W8cU4WuwE44ScpnEEsJc8llPuxgWFLeBw8YXAmfVVV4ZnT4ZGpbRN_WPhgaftQ-kHNY8yBCImutFjqIsUp-yTbD4O-hOxDGJRffdnSqnN_d7MNJ7lC2BAucEKq2Wq-bJKq_4yR5gD-y3kY-sg0RbTC1QYIzVMvA4Xuu6GONzmqsEuvi8Q=w811-h691-no");
					background-repeat: no-repeat;
					background-size: 100%;
					border-radius: 5px;
					display: grid;
					grid-column: 1 / span 4;
					grid-row: 1;
					height: 260px;
					width: 320px;
					margin-bottom: 5rem;
					// position: relative;
				}
				
				.social { 
					cursor: pointer;
					display: grid;
					grid-row: 3;
					height: 3.5rem;
					
					&:hover {
						background-color: rgba(130, 173, 95, .1);
						background-size: 120%;
						transition: cubic-bezier(0.785, 0.135, 0.15, 0.86);
					}

					.medium { background: no-repeat url(../../img/Medium_Logo_Green.svg); }
					.twitter { background: no-repeat url(../../img/Twitter_Logo_Blue.svg); }
					.github { background: no-repeat url(../../img/Github_Logo_White.svg); }
					.linkedin { background: no-repeat url(../../img/Linkedin_Logo_Blue.svg); }
					
					.logo {
						background-size: 100%;
						width: 3.2rem;
						
					}
				}	

				.access {
					display: grid;
					grid-row: 2;
					grid-column: 1 / span 4;
					justify-self: normal;

					.personal {
						align-items: end;
						height: 2rem;
						width: min-content; width: -moz-min-content;
						font-family: 'Josefin Slab',
						serif;
						font-size: 1.1rem;
						grid-row: 3;

						&.email { 
							display: grid;
							grid-column: 1 / span 2;
							transition: cubic-bezier(.45, .05, .55, .95);
							&:hover {
								background-color: rgba(130,173,95, .1);
								transition: cubic-bezier(.45, .05, .55, .95)
							}
						}	
						&.resume { 
							display: grid;
							grid-column: 4; 
							margin-left: 55%;
							&:hover {
								background-color: rgba(130, 173, 95, .1);
								transition: cubic-bezier(.45, .05, .55, .95);
							}
						}
					}
				}
			}

			.statement {
				align-items: flex-start;
				display: grid;
				grid-column: 2/4;
				height: auto;
				padding: 0rem 2vw;
				p:first-of-type {
					margin-bottom: 1rem;
				}
			}
		}

//  FOOTER  //
		footer {
			align-items: flex-end;
			display: grid;
			grid-column: 2;
			grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
			grid-row: 6;
			font-family: var(--para-type), serif;
			
			a {	
				
				&:first-of-type {
					grid-row: 6;
					padding: 5px 0;
					text-align: start;				
				}
				&:nth-of-type(2) {
					grid-row: 6;
					padding: 5px 0;
					text-align: end;				
				}
				&:hover {
					color: var(--impact-color);
				}
			}
		}
			

		
	
////////////////             ////////////////////////////
       //       Media Queries        //
////////////////             ////////////////////////////	
		
 // within main
		
		@media (min-width: 300px) and (max-width: 374px) {

			#intro {
				padding: 9vh 0;

				h1 {
					font-size: 3rem;
					line-height: 1.1em;
					
					div {
						color: var(--body-bg-color);
						line-height: 0.2em;
					}
				}

				.chevron {
					height: 11vh;
					width: 9vh;
					background-size: cover;
				}
			}

			#work {
				.project-container { 
					grid-template-columns: minmax(280px, 1fr);
					grid-column: 2;
				// mobile size becomes carousel or similar?	
					
					.project {
						margin-top: 10vh;
					}
				}	
			}	
		}

		@media (min-width: 375px) and (max-width: 640px) { 
			#intro {	
				h1 {
					font-size: 3.5rem;
					line-height: 1.1em;
				}
			}	
		}
	}

 // within body

	@media (max-width: 600px) {
		// margin: 2.5rem;

	}
}