/* ------------------------------------------- */
/*
	0. Typography
	1. CSS Reset & Clearfix	
	2. Document Setup
*/
/* ------------------------------------------- */
/*	0. Typography */
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans|Josefin+Slab|Lato|Unica+One");
@font-face {
  font-family: 'Cassannet Outline';
  src: url("../typefaces/Cassannet/cassannet_outline-webfont.woff2") format("woff2"), url("../typefaces/Cassannet/cassannet_outline-webfont.woff") format("woff");
  font-family: 'Cassannet Regular';
  src: url("../typefaces/Cassannet/cassannet-webfont.woff") format("woff"), url("../typefaces/Cassannet/cassannet-webfont.woff2") format("woff2");
  font-family: 'Cassannet Bold';
  src: url("../typefaces/Cassannet/cassannet_bold-webfont.woff") format("woff"), url("../typefaces/Cassannet/cassannet_bold-webfont.woff2") format("woff2"); }
/* ------------------------------------------- */
/*	1. CSS Reset
/* ------------------------------------------- */
html, body {
  margin: 0;
  padding: 0;
  height: 100%; }
  html h1, html h2, html h3, html h4, html h5, html h6, html p, html blockquote, html address, html big, html cite, html code, html em, html font, html img, html small, html strike, html sub, html sup, html li, html ol, html ul, html fieldset, html form, html label, html legend, html button, html table, html caption, html tr, html th, html td, body h1, body h2, body h3, body h4, body h5, body h6, body p, body blockquote, body address, body big, body cite, body code, body em, body font, body img, body small, body strike, body sub, body sup, body li, body ol, body ul, body fieldset, body form, body label, body legend, body button, body table, body caption, body tr, body th, body td {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    font-style: normal;
    text-align: left; }
  html ol, html ul, body ol, body ul {
    list-style: none; }
  html a, body a {
    outline: none; }
  html input[type=search], body input[type=search] {
    -moz-appearance: none;
    -webkit-appearance: none; }

/* ------------------------------------------- */
/*	2. Document setup
/* ------------------------------------------- */
body {
  margin: 8rem;
  padding: 0;
  border: none;
  color: #4C4C4C;
  background: #eee;
  font-family: 'Josefin Sans', serif;
  font-size: 17px;
  /* ------------------------------------------- */ }
  body * {
    box-sizing: border-box; }
  body ::selection {
    background-color: yellow;
    color: #287ACC;
    -moz-background-color: lime;
    -moz-color: red; }
  body h1 {
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 1.2em; }
  body h3 {
    font-size: 2.5rem; }
  body p {
    line-height: 1.5rem; }
  body a {
    text-decoration: none;
    color: #4c4c4c; }
    body a:hover {
      text-decoration: none; }
  body img {
    max-width: 100%;
    height: auto; }
  body .hidden {
    display: none; }
  body .clear {
    clear: both; }
  body .left {
    float: left; }
  body .right {
    float: right; }
  body ::-webkit-input-placeholder {
    color: #A9A9A9; }
  body :-ms-input-placeholder {
    color: #A9A9A9; }
  body main {
    display: grid; }
    body main header {
      display: grid;
      grid-template-columns: 1fr; }
      body main header h1 {
        font-family: 'Josefin Sans', sans-serif; }
      body main header .chevron {
        margin: 10rem auto;
        width: 45px;
        height: 60px;
        color: #287ACC;
        background-image: url(../../img/Arrow.svg);
        background-size: cover; }
    body main .work {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
      grid-gap: 3rem; }
      body main .work .project {
        display: grid;
        margin-bottom: 2rem; }
        body main .work .project img {
          max-width: 100%;
          border-radius: 5px;
          transition: all .2s; }
        body main .work .project div {
          background-size: 100%;
          padding-top: 0.3rem; }
          body main .work .project div h3 {
            display: inline-block;
            font-family: 'Cassannet Regular', 'Lato';
            transition: all .2s; }
        body main .work .project:hover img {
          transition: all .2s;
          box-shadow: 0 2px 30px rgba(132, 153, 115, 0.8); }
        body main .work .project:hover h3 {
          font-family: 'Cassannet Outline', 'Lato'; }
    body main .cred {
      font-family: 'Josefin Sans', serif;
      margin-top: 4rem;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(240px, 250px));
      justify-content: space-between; }
      body main .cred a:hover {
        color: #82ad5f; }
      body main .cred:nth-child(even) {
        text-align: right; }
    @media (max-width: 600px) {
      body main header h1 {
        margin: 2rem 0;
        font-size: 2.5rem;
        line-height: 1.3em; }
      body main header .chevron {
        margin: 6rem auto; } }
    @media (max-height: 500px) {
      body main header .chevron {
        margin: 2rem auto; } }
  @media (max-width: 600px) {
    body {
      margin: 2.5rem; } }

/*# sourceMappingURL=new_home.css.map */
