/* ------------------------------------------- */
/*
	0. Typography
	1. CSS Reset & Clearfix	
	2. Document Setup
	3. Page Layout
*/

/* ------------------------------------------- */
/*	0. Typography */
/* ------------------------------------------- */

@font-face {
  font-family: 'Cassannet Outline';
  src: url('../typefaces/Cassannet/cassannet_outline-webfont.woff2') format('woff2'),
  url('../typefaces/Cassannet/cassannet_outline-webfont.woff') format('woff');

  font-family: 'Cassannet Regular';
  src: url('../typefaces/Cassannet/cassannet-webfont.woff') format('woff'),
  url('../typefaces/Cassannet/cassannet-webfont.woff2') format('woff2');
  
  font-family: 'Cassannet Bold';
  src: url('../typefaces/Cassannet/cassannet_bold-webfont.woff') format('woff'),
  url('../typefaces/Cassannet/cassannet_bold-webfont.woff2') format('woff2');
}

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Josefin+Slab|Lato|Unica+One');


/* ------------------------------------------- */
/*	1. CSS Reset
/* ------------------------------------------- */

html, body { 
	margin:0; padding:0; height:100%;

	h1, h2, h3, h4, h5, h6, p, blockquote, address, big, cite, code, em, font, img, small, strike, sub, sup, li, ol, ul, fieldset, form, label, legend, button, table, caption, tr, th, td {
		margin:0;
		padding:0;
		border:0;
		font-weight:normal;
		font-style:normal;
		text-align:left;
	}

	ol, ul { list-style:none; }

	a { outline:none; }

	input[type=search] {
		-moz-appearance:none;
		-webkit-appearance:none;
	}
}


/* ------------------------------------------- */
/*	2. Document setup
/* ------------------------------------------- */



////////////////             ////////////////////////////
       //       CSS Variables        //
////////////////             ////////////////////////////				

:root {
		--impact-color: #287ACC;
		--disp-type: 'Josefin Sans', sans-serif;
		--para-type: 'Lato';
	}

///////////////////////////////////////////////////////////	



* { 
	box-sizing: border-box; 
}

body {
	color: #4C4C4C;
	background: #fefefe;
	font-size: 17px;
	max-width: 99vw;
	position: absolute;
	
	h1 {
		font-family: var(--disp-type), sans-serif;
		font-size: 4.5rem;
		font-weight: 600;
		line-height: 5rem;
	}

	h3 {
		font-family: var(--disp-type), sans-serif;
		font-size: 2.5rem;
		font-weight: 600;
	}

	p {	
		font-family: var(--para-type), serif;
		line-height: 1.4rem;

	}

	a {
		cursor: pointer;
		color: #4c4c4c;
		text-decoration: none;
	}

	img {
		max-width: 100%;
		height: auto;
	}
	
  
  /* ------------------------------------------- */
  /*	3. Page Layout
  /* ------------------------------------------- */


	main {
		display: grid;
		grid-template-rows: repeat(auto-fit, minmax(80px, 1fr));
		justify-content: center;
		grid-template-columns: 8% 1fr 8% ;

//  HELLO Section  //

		#intro {
			display: grid;
			grid-row: 2; 
			grid-column: 2;
			padding: 15% 5%;
			
			.chevron {
				background: no-repeat url(../../img/Arrow.svg);
				color: var(--impact-color);
				height: 4rem;
				width: 3rem;
				margin: 24vh auto;

			}
			// .hop {
			// 	animation: fadeIn 500ms linear, bounce 2s infinite;
			// 	animation-delay: 2s, 2.5s;
			// }
		}

//  WORK Section  //

		#work {
			display: grid;
			grid-row: 3;
			grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
			grid-gap: 3rem;
			// margin-bottom: 8rem;
			grid-column: 2;

			.project {
				padding-bottom: 5%;

				a {
					display: block;
					
					img {
						border-radius: 5px;	
						max-width: 100%;
						transition: all .2s;
					}

					div {
						background-size: 100%;
						padding-top: 0.3rem;
						
						h3 {
							display: inline-block;
							font-family: 'Cassannet Regular', 'Lato';
							transition: all .2s; 
						}
					}

					&:hover img {
						box-shadow: 0 0.3rem 1.5rem 0rem rgba(132, 153, 115, 0.8);
						transform: translateY(-0.3rem);
						transition: all .2s;
					}
					
					&:hover h3 {
						font-family: 'Cassannet Outline', 'Lato';
					}
				}	
			}
		}


//  ABOUT Section  //

		#about {
			display: grid;
			grid-column: 2;
			grid-row: 4;
			grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
			grid-gap: 3rem;
			// margin: 6rem;
			border: 1px solid forestgreen;
			
			.statement p {
				
			}
		}

		#info {
			background-color: #222;
			grid-row: 5;
			height: 40vw;
			width: 100vw;
			
			.info__container {
				display: grid;
				border: 1px solid white;
				grid-template-columns: 1fr 1fr 1fr;
				margin: 6rem;

				.social {
					display: grid;
					grid-column: 1;
					
					.medium {		
						display: block;
						background: no-repeat url(../../img/medium-wordmark-light-500px.png);
						background-size: contain; 
						height: 2rem;
					}
					.medium {		
						display: block;
						background: no-repeat url(../../img/medium-wordmark-light-500px.png);
						background-size: contain; 
						height: 2rem;
					}
				}
			}
		}

//  FOOTER  //
		footer {
			display: grid;
			grid-row: 6;
			grid-column: 2;
			align-items: flex-end;
			font-family: var(--para-type), serif;
			
			a:first-of-type {
				grid-row: 6;
				padding: 5px 0;
			}
			
			a:nth-of-type(2) {
				grid-row: 6;
				padding: 5px 0;
				text-align: right;				
			}
		}

					// <social icons>
			

		
	
////////////////             ////////////////////////////
       //       Media Queries        //
////////////////             ////////////////////////////	
		
 // within main
		
		@media (max-width: 600px) {
			#intro {
				padding: 8% 16%;

				h1 {
					font-size: 3rem;
					line-height: 1.3em;
				}
				.chevron {
					margin-top: 8rem auto;
				}
			}

			#work { 
			// mobile size becomes carousel or similar?	
				.project {
					padding: 11%;
				}
			}	
		}
		
		@media (max-height: 500px) {
			#intro {
				.chevron {
					margin-top: 2rem auto;
				}
			}
		}	
	}

 // within body

	@media (max-width: 600px) {
		// margin: 2.5rem;

	}
}