/* ------------------------------------------- */
/*
	0. Typography
	1. CSS Reset & Clearfix	
	2. Document Setup
	3. Page Layout
*/

/* ------------------------------------------- */
/*	0. Typography */
/* ------------------------------------------- */

@font-face {
	font-family: 'Cassannet Regular';
	src: url('typefaces/Cassannet/Cassannet-Regular.woff2') format('woff2'),
	url('typefaces/Cassannet/Cassannet-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Cassannet Bold';
	src: url('typefaces/Cassannet/Cassannet-Bold.woff2') format('woff2'),
	url('typefaces/Cassannet/Cassannet-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Cassannet Outline';
	src: url('typefaces/Cassannet/CassannetOutline-Regular.woff2') format('woff2'),
	url('typefaces/Cassannet/CassannetOutline-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Knile';
	src: url('typefaces/Knile/knile-regular-webfont.woff') format('woff');
}

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,100i,200,200i,300,300i,400,400i|Josefin+Slab:200,200i,300,300i,400,400i|Lato:200,200i,300,300i,400,400i|Source+Sans+Pro:200,200i,300,300i,400,400i|Trirong:200,200i,300,300i,400,400i|Unica+One');

@import "base/mixins.scss";


/* ------------------------------------------- */
/*	1. CSS Reset
/* ------------------------------------------- */

html, body { 
	margin:0; padding:0; height:100%;

	h1, h2, h3, h4, h5, h6, p, blockquote, address, big, cite, code, em, font, img, small, strike, sub, sup, li, ol, ul, fieldset, form, label, legend, button, table, caption, tr, th, td {
		margin:0;
		padding:0;
		border:0;
		font-weight:normal;
		font-style:normal;
		text-align:left;
	}

	ol, ul { list-style:none; }

	a { outline:none; }

	input[type=search] {
		-moz-appearance:none;
		-webkit-appearance:none;
	}
}


/* ------------------------------------------- */
/*	2. Document setup
/* ------------------------------------------- */



////////////////             ////////////////////////////
       //       CSS Variables        //
////////////////             ////////////////////////////				

:root {
		--body-bg-color: #fefefe;
		--body-bg-text-color: #E1E7DC;
		--body-text-color: #4C4C4C;
		--link-text-color: #37ABB8;
		--dark-impact-color: rgba(20, 61, 102, 0.8); 
		/* hex #143D66 */ 
		--dim-impact-color: rgba(40, 122, 204, 0.8);  
		/* hex #287acc */
		--impact-color: rgba(40, 122, 204, 1);  
		/* hex #287acc */
		--dark-green: rgba(70, 76, 53, 1);
		--soft-green: rgba(130, 145, 95, 1);
		/* hex #708C54 */
		--oliver: rgba(87, 94, 51, 1);
		/* hex #575E33 */
		--disp-sans: 'Josefin Sans', sans-serif;
		--disp-serif: 'Josefin Slab', 
		sans-serif;
		--para-type: 'Josefin Slab', serif;
	}

///////////////////////////////////////////////////////////	



* { 
	box-sizing: border-box; 
}

body {
	color: var(--body-text-color);
	background: var(--body-bg-color);
	font-size: 18px;
	width: 100vw;
	position: absolute;
	overflow-x: hidden;

	h1 {
		font-family: var(--disp-sans);
		font-size: 6vw;
		font-weight: 400;
		line-height: 5rem;
	}

	h3 {
		font-family: var(--disp-sans), sans-serif;
		font-size: 2.5rem;
		font-weight: 400;
		line-height: 3rem;
	}

	h4 { 
		font-family: var(--disp-sans), sans-serif;
		font-size: 2rem;
		font-weight: 400;
		line-height: 4rem;

	}

	p {	
		font-family: var(--para-type), serif;
		line-height: 1.5rem;
	}

	a {
		cursor: pointer;
		color: var(--body-text-color);
		text-decoration: none;
	}

	img {
		max-width: 100%;
		height: auto;
	}
	
  
  /* ------------------------------------------- */
  /*	3. Page Layout
  /* ------------------------------------------- */


	main {
		display: grid;
		grid-template-columns: 7vw 86vw 7vw ;
		grid-template-rows: repeat(auto-fill, minmax(15vh, 1fr));

//  HELLO Section  //

		#intro {
			display: grid;
			grid-row: 2; 
			grid-column: 2;

				a {
					color: var(--soft-green);
				}

				#dot {
					display: none;
				}
				
			
			.chevron {
				display: grid;
				height: auto; width: 10vh;
				margin: 12vw auto;
				justify-content: center;
			}
			.hop {
				animation: bounce 3s infinite;
				animation-delay: 2s;
				animation-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
			}

			@keyframes bounce {
				0%,
				15%,
				40%,
				100% {
					transform: translateY(0);
				}
				6% {
					transform: translateY(2rem);
				}
				25% {
					transform: translateY(3.5rem);
				}
			}
		}

//  WORK Section  //
			#work {
				display: grid;
				grid-column: 2;
				grid-row: 3;
				grid-gap: 4vw;
				grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));	

				.project {
					height: 400px;
					margin-top: 15vw;

					#tile {
						.pic {
							img {
								border-radius: 5px;	
								opacity: 0.9;
								transition: all ease-out .3s;
							}
						}	
						.desc {
							h3 {
								display: inline-block;
								font-family: 'Cassannet Regular','Lato'; font-weight: normal;
								transition: ease-out .1s;
							}
						}

						&:hover img {
							box-shadow: 0 0.3rem 1.5rem 0rem var(--dark-green);
							opacity: 1;
							transform: translateY(-0.3rem);
							transition: opacity linear .05s box-shadow ease-in-out .2s;
						}
						
						&:hover h3 {
							color: black;
							font-family: 'Cassannet Outline',
							'Lato'; font-weight: normal;
							transition: all ease-in-out .4s;
						}
					}


					.link { 
						color: var(--dim-impact-color);
						display: inline-block;
						font-family: var(--disp-sans);
						bottom: 0%;
						transition: ease-in .2s;
						line-height: 1rem;

						&:hover {
							color: var(--impact-color);
							transition: linear .2s;
						}

						&::after {
							background: var(--impact-color);
							content: '';
							display: block;
							height: 1.5px;
							width: 0;
							transition: width ease-out .2s;
						}
						
						&:hover::after {
							transition: width ease-out .2s;
							width: 100%;
						}
					}
				} 
			}

//  ABOUT Section  //

		#info {
			align-items: center;
			background-color: #222;
			display: flex;
			flex-direction: column-reverse;
			grid-column: 1; grid-row: 4;
			margin-top: 25vw;
			padding: 2rem 7vw;
			width: 100vw;

			// border: 3px solid red;
			
			a, h1, h2, h3, h4, p { color: var(--body-bg-text-color); }

			.contact_info {
				align-items: center;
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				.self {
					background-image: url("https://lh3.googleusercontent.com/4yMhhFN7LW8V4cKWcZI78Rt50rk7RyMeUl4sFP6Sucux_nt2M9lJM0v703_2jadKbDUBeTbLaow1rZQcXupWEOm8oVoKVVkhhSb7NGX0lZxUZuglOt1rtRYVceHE6xJNWx7zIwvPQWmgBqAbtdP8Kx5VUy93nfO8Se7kP3fmcgh4p36fP65QlEHQ9jhbd9ldhYSpCU6f6TxrXp_l1HiK4-AgGODGvXoK3b6GyYKhhganvKMXo8ah76JTCnfw-dWNbGkbI4lEtD0psTHxrY2hjwBFOn6BCKjf6cS0zX_89u2QvGXuRLLaggy6yNLy66xiQsPx1xJsqwvMfu3Su8Cz0pwVk_lhYXlUpbua9krDdfTfMaB7oIyadz88VtzCCob_Kl0XOLlsdGMPl2cKES6tRoaAwl0Ec3o21PI3n38yuamRPgZAt1Y-JpTFTxUb36KqCP0N02Of9W8cU4WuwE44ScpnEEsJc8llPuxgWFLeBw8YXAmfVVV4ZnT4ZGpbRN_WPhgaftQ-kHNY8yBCImutFjqIsUp-yTbD4O-hOxDGJRffdnSqnN_d7MNJ7lC2BAucEKq2Wq-bJKq_4yR5gD-y3kY-sg0RbTC1QYIzVMvA4Xuu6GONzmqsEuvi8Q=w811-h691-no");
					background-size: cover;
					border-radius: 5px;
					height: 225px;
					width: 300px;

					display: none;
				}

				.access {
					display: flex;
					flex-direction: column;
					align-items: center;

					.personal {
						@include link; 		
						font-family: 'Source Sans Pro',
						sans-serif;
						font-size: 1rem; font-weight: 100;
						margin: 1rem 0 2rem;
				

						&:first-of-type {
							margin-bottom: 1rem;
						}

					}
				}			

				.icon-row {
					display: flex;
					justify-content: space-between;
					width: 86vw;
					margin: 1rem 0;
			
					.medium { background: no-repeat url(../../img/Monogram_Outline.svg); }
					.twitter { background: no-repeat url(../../img/Twitter_Logo_Blue.svg); }
					.github { background: no-repeat url(../../img/Github_Logo_White.svg); }
					.linkedin { background: no-repeat url(../../img/Linkedin_Logo_Blue.svg); }
					
					.logo {
						background-size: cover;
						width: 3rem;
						height: 3rem;
						&:hover {
							background-color: rgba(130, 173, 95, .1);
							transition: cubic-bezier(0.785, 0.135, 0.15, 0.86);
						}
					}
				}	
			}


			.statement {
				display: flex;
				flex-direction: column;

				h3 {
					font-family: var(--disp-serif);
					font-weight: 400;
					line-height: 1em;
				}

				p {
					// display: inline-block;
					font-family: var(--disp-sans);
					font-weight: 300;
					margin: 1rem 0;
				}
					.product { @include link; }

			}

		}


//  FOOTER  //
		footer {
			align-items: center;
			border: 1rem solid white;
			display: flex;
			flex-direction: column-reverse;
			grid-column: 1 / span 3; grid-row: 5;
			
			a {
				color: var(--dark-impact-color);	
				font-family: var(--disp-sans), sans-serif;
				font-weight: 300;
				margin: 0.5rem;
				
				&:hover {
					color: var(--impact-color);
				}
			}
		}
		
	
           //       Media Queries        //	
		
		@media screen and (min-width: 650px) { 
			
			#info {
				align-items: flex-start;
				flex-direction: row;
				justify-content: space-between;

				.contact_info {
					height: 100%; width: 28vw;

					.self {
						display: flex;
						width: 100%;
					}

					.access {
						flex-flow: row wrap;
						justify-content: space-between;
						margin: 2rem auto;
						width: 100%;

						.personal {
							
							&:first-of-type {
								margin: 0 2rem 1rem 0;
							}
						}

					}
					
					.icon-row {
						width: 100%;
					}
				}

				.statement {
					width: 50vw;
				}
			}

			footer {
				flex-direction: row;
				justify-content: space-between;
				grid-column: 2;

				a {
					margin: 1rem;
				}
			}
		}
		
		
		@media (min-width: 300px) and (max-width: 370px) {

			#intro {

				h1 {
					font-size: 2.8rem;
					line-height: 3.5rem;
					
					#dot {
						color: var(--body-bg-color);
						line-height: 0.2em;
						display: flex;
					}
				}
			}

			#work {	
					
				.project {

					a {
						.pic img {
							opacity: 1;
						}
					}
				}
			}	
		}
		@media (min-width: 371px) and (max-width: 769px) {

			#intro {
				h1 {
					font-size: 3.4rem;
					line-height: 4rem;

					#dot {
						color: var(--body-bg-color);
						line-height: 0.2em;
						display: inline-block;	
					}	
				}
			}
		}
	}
}